header
	#megamenulist.header-v8.header-sticky.hidden-xs.hidden-sm.hidden-md
		.navbar.mega-menu.tb-megamenu(role='navigation')
			.container.full-height
				.row.full-height.flex-vertical.rel-position
					.col-md-3
						.res-container
							button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-responsive-collapse')
								span.sr-only Toggle navigation
								span.icon-bar
								span.icon-bar
								span.icon-bar
							.navbar-brand
								a.clearfix(href='index.html')
									img(src='images/awm-site-logo.png', alt='Argus Wealth Management')
					.col-md-10.static-position
						.collapse.navbar-collapse.navbar-responsive-collapse
							ul#menu-list.nav.navbar-nav.static-position.bm-nav-menu
								li.dropdown.mega-menu-fullwidth.visible-xs.visible-sm
									a(href='https://clients.arguswealth.bm') Client Login
								li.dropdown.mega-menu-fullwidth.text-center
									a(href='investment-philosophy.html', class=(bodyClass === 'investment-philosophy' ? 'active' : ''))
										span.overlay Investment Philosophy
								li.dropdown.mega-menu-fullwidth.text-center
									a(href='investment-solutions.html', class=(bodyClass === 'investment-solutions' ? 'active' : ''))
										span.overlay Investment Solutions
										img.sub-menu-indicator(src='images/navigation.png')
									ul.dropdown-menu
										//- // MEGA MENU STARTS
										li
											.display-table
												.md-margin-bottom-30.border-right.mega-menu-column.table-cell
													.blog-grid.mega-menu-title
														ul.mega-menu-list(id='')
															li
																a.list-item(href='investment-solutions.html') Investment Solutions
															li.divider(role="seperator")
															li
																a.list-item(href='customized-solutions.html') Customized Solutions
															li
																a.list-item(href='argus-select-funds.html') Argus Select Funds
								li.dropdown.mega-menu-fullwidth.text-center
									a(href='investor-profiles.html', class=(bodyClass === 'investor-profiles' ? 'active' : ''))
										span.overlay Investor Profiles
										img.sub-menu-indicator(src='images/navigation.png')
									ul.dropdown-menu
										//- // MEGA MENU STARTS
										li
											.display-table
												.md-margin-bottom-30.border-right.mega-menu-column.table-cell
													.blog-grid.mega-menu-title
														ul.mega-menu-list(id='')
															li
																a.list-item(href='investor-profiles.html') Investor Profiles
															li.divider(role="seperator")
															li
																a.list-item(href='high-net-worth-clients.html') High Net Worth Clients
															li
																a.list-item(href='endowments-trusts.html') Endowments &amp; Trusts
															li
																a.list-item(href='pension-funds.html') Pension Funds
								li.dropdown.mega-menu-fullwidth.text-center
									a(href='market-commentary.html', class=(bodyClass === 'market-commentary' ? 'active' : ''))
										span.overlay Market Review, Outlook &amp; Journal
										img.sub-menu-indicator(src='images/navigation.png')
									ul.dropdown-menu
										//- // MEGA MENU STARTS
										li
											.display-table
												.md-margin-bottom-30.border-right.mega-menu-column.table-cell
													.blog-grid.mega-menu-title
														ul.mega-menu-list(id='')
															li
																a.list-item(href='market-commentary.html') Market Commentary
															li
																a.list-item(href='macro-and-market-outlook.html') Macro and Market Outlook
															li
																a.list-item(href='the-journal.html') The Journal
.visible-xs.visible-sm.visible-md
	#site-menu.ag-site-menu.mobile
		.ag-mobile-menu
			ul.list-unstyled.nav.nav-stacked.mobile-menu-list
				li.dropdown.level-1.top-level(data-level='1')
					a(href='investment-philosophy.html')
						.ag-link-name Investment Philosophy
				li.dropdown.level-1.top-level(data-level='1')
					a(href='investment-solutions.html')
						.ag-link-name Investment Solutions
						span.js-ag-link-toggle.toggle-arrow.arrow-down
					ul.hidden.ag-menu-level-2.ag-menu-sublevel.list-unstyled.nav.nav-stacked
						li.dropdown.level-2(data-level='2')
							a.list-item(href='customized-solutions.html') Customized Solutions
						li.dropdown.level-2(data-level='2')
							a.ag-link-name(href='argus-select-funds.html') Argus Select Funds
				li.dropdown.level-1.top-level(data-level='1')
					a(href='investor-profiles.html')
						.ag-link-name Investor Profiles
						span.js-ag-link-toggle.toggle-arrow.arrow-down
					ul.hidden.ag-menu-level-2.ag-menu-sublevel.list-unstyled.nav.nav-stacked
						li.dropdown.level-2(data-level='2')
							a.ag-link-name(href='high-net-worth-clients.html') High Net Worth Clients
						li.dropdown.level-2(data-level='2')
							a.ag-link-name(href='endowments-trusts.html') Endowments &amp; Trusts
						li.dropdown.level-2(data-level='2')
							a.ag-link-name(href='pension-funds.html') Pension Funds
				li.dropdown.level-1.top-level(data-level='1')
					a(href='market-commentary.html')
						.ag-link-name Market Review, Outlook &amp; Journal
						span.js-ag-link-toggle.toggle-arrow.arrow-down
					ul.hidden.ag-menu-level-2.ag-menu-sublevel.list-unstyled.nav.nav-stacked
						li.dropdown.level-2(data-level='2')
							a.ag-link-name(href='market-commentary.html') Market Commentary
						li.dropdown.level-2(data-level='2')
							a.ag-link-name(href='macro-and-market-outlook.html') Macro and Market Outlook
						li.dropdown.level-2(data-level='2')
							a.ag-link-name(href='the-journal.html') The Journal
				li.dropdown.level-1.top-level(data-level='1')
					a(href='about-us.html')
						.ag-link-name About Us
						span.js-ag-link-toggle.toggle-arrow.arrow-down
					ul.hidden.ag-menu-level-2.ag-menu-sublevel.list-unstyled.nav.nav-stacked
						li.dropdown.level-2(data-level='2')
							a.ag-link-name(href='about-us.html#company-overview') Company Overview
						li.dropdown.level-2(data-level='2')
							a.ag-link-name(href='about-us.html#our-team') Our Team
				li.dropdown.level-1.top-level(data-level='1')
					a(href='contact-us.html')
						.ag-link-name Contact Us
				li.dropdown.level-1.top-level(data-level='1')
					a(href='https://argus.bm', target="_blank")
						.ag-link-name Argus.bm
