header.visible-xs.visible-sm.visible-md
	.container
		.row.flex-center.mobile-menu-nav-header
			.col-xs-2
				a.toggle-nav(href='#')
					img(src='https://argus.bm/Content/images/menu-button.png')
			.col-xs-8.text-center
				a(href='/')
					img.mobile-logo(src='images/awm-site-logo.png', alt='Logo')
			.col-xs-2.text-right
				a(href='https://aflonline.aflinvestments.bm/login.asp')
					img(src='https://argus.bm/Content/images/login-button.png')