extends ../_layouts/default

block title
  title Customized Solutions &#8211; Argus Wealth Management

block vars
  - var bodyClass = 'customized-solutions';

block content
  include ../_partials/customized-solutions