extends ../_layouts/default

block title
  title High Net Worth Clients &#8211; Argus Wealth Management

block vars
  - var bodyClass = 'investor-profiles';

block content
  include ../_partials/high-net-worth-clients