extends ../_layouts/default

block title
  title Individual HNW Clients &#8211; Argus Wealth Management

block vars
  - var bodyClass = 'individual-hnw-clients';

block content
  include ../_partials/individual-hnw-clients