extends ../_layouts/default

block title
  title Individual High Net Worth Clients &#8211; Argus Wealth Management

block vars
  - var bodyClass = 'individual-high-net-worth-clients';

block content
  include ../_partials/individual-high-net-worth-clients