extends ../_layouts/default

block title
  title Investment Solutions &#8211; Argus Wealth Management

block vars
  - var bodyClass = 'investment-solutions';

block content
  include ../_partials/investment-solutions
