extends ../_layouts/default

block title
  title Subscribe to Monthly Journal &#8211; Argus Wealth Management

block vars
  - var bodyClass = 'subscribe-to-monthly-journal';

block content
  include ../_partials/subscribe-to-monthly-journal
