extends ../_layouts/default

block title
  title The Journal &#8211; Argus Wealth Management

block vars
  - var bodyClass = 'market-commentary';

block content
  include ../_partials/the-journal-test