#modal-joel.modal.fade(tabindex='-1', role='dialog')
	.modal-dialog(role='document')
		.modal-content
			.modal-header
				button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') &times;
				h4.modal-title Joel P. Schaefer, CFA
			.modal-body
				p One fine body&mldr;
			.modal-footer
				button.btn.btn-default(type='button', data-dismiss='modal') Close
				button.btn.btn-primary(type='button') Save changes