.umb-grid
	.grid-section
		div
			.row
				.col-md-12.column
					div
						.row.hero-with-breadcrumb-container
							.hero-with-breadcrumb.hero-bc-image.ag-row-mobile-full(style="background-image: url('http://argus.bm/media/3437/disability-insurance-product-banner.jpg');filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://argus.bm/media/3437/disability-insurance-product-banner.jpg', sizingMethod='scale'); -ms-filter: 'progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://argus.bm/media/3437/disability-insurance-product-banner.jpg', sizingMethod='scale')'';")
								.hero-with-breadcrumb-overlay
								.hero-with-breadcrumb-content-container.header-top-padding
									.container
										.hero-with-breadcrumb-content
											h1.header-letter-spacing Guidance. Discipline.
											h3
												| A structured and disciplined approach to investment management provides ideal conditions to generate the returns our clients expect.
											div
												p
												a.btn.btn-primary.ag-hero-btn(href='#', target='_self') Find Out More
		div.card--summary
			.container
				.row
					.col-sm-12
						.text-center
							h2.card--summary-heading Company Overview
							p.card--summary-content We are a Bermudian financial series company that provides a range of investment solutions to individuals, couples, trusts and endowments as well as companies and philanthropic organizations.
							p.card--summary-content We have a wealth of experience working with both local and international clients to whom we are considered a trusted advisor. We spend time truly getting to know our clients and take pride in our investment approach and excellent client service.
							p.card--summary-content Founded in 2005 as a member of The Argus Group of Companies. Our values are...
		div.card--team
			.container
				.row
					.col-sm-12
						.text-center
							h2.card--team-title Our Team
							p.card--team-caption At Argus Wealth Management, you can expect to receive local experience while giving you global investment exposure. The majority of our staff are Bermudians and our investment team includes three CFA charter holders. We are proud to take an active role in our community and would love to hear from you and help you achieve your investment goals.
							ul.card--team-list.row
								li.card--team-listitem.col-sm-4
									div.card--team-wrap
										header.card--team-header
											img.card--team-thumb(src="../images/awm-team-thumb.png", alt="High Net Worth Clients")
											h2.card--team-heading Joel P. Schaefer, CFA
											p.card--team-content President &amp; CEO
										footer.card--team-footer
											div.card--team-links
												a.card--team-link(href="#")
													| Bio &gt;
												a.card--team-link(href="#")
													| Contact &gt;
								li.card--team-listitem.col-sm-4
									div.card--team-wrap
										header.card--team-header
											img.card--team-thumb(src="../images/awm-team-thumb.png", alt="Institutional Investors")
											h2.card--team-heading Simon Giffen, CFA, TEP
											p.card--team-content Group Investment Manager
										footer.card--team-footer
											div.card--team-links
												a.card--team-link(href="#")
													| Bio &gt;
												a.card--team-link(href="#")
													| Contact &gt;
								li.card--team-listitem.col-sm-4
									div.card--team-wrap
										header.card--team-header
											img.card--team-thumb(src="../images/awm-team-thumb.png", alt="Corporate Pension Funds")
											h2.card--team-heading Louis Millar, CFA, CPA
											p.card--team-content Head of Operations
										footer.card--team-footer
											div.card--team-links
												a.card--team-link(href="#")
													| Bio &gt;
												a.card--team-link(href="#")
													| Contact &gt;
								li.card--team-listitem.col-sm-4
									div.card--team-wrap
										header.card--team-header
											img.card--team-thumb(src="../images/awm-team-thumb.png", alt="Corporate Pension Funds")
											h2.card--team-heading Louis Millar, CFA, CPA
											p.card--team-content Head of Operations
										footer.card--team-footer
											div.card--team-links
												a.card--team-link(href="#")
													| Bio &gt;
												a.card--team-link(href="#")
													| Contact &gt;
								li.card--team-listitem.col-sm-4
									div.card--team-wrap
										header.card--team-header
											img.card--team-thumb(src="../images/awm-team-thumb.png", alt="Corporate Pension Funds")
											h2.card--team-heading Louis Millar, CFA, CPA
											p.card--team-content Head of Operations
										footer.card--team-footer
											div.card--team-links
												a.card--team-link(href="#")
													| Bio &gt;
												a.card--team-link(href="#")
													| Contact &gt;
								li.card--team-listitem.col-sm-4
									div.card--team-wrap
										header.card--team-header
											img.card--team-thumb(src="../images/awm-team-thumb.png", alt="Corporate Pension Funds")
											h2.card--team-heading Louis Millar, CFA, CPA
											p.card--team-content Head of Operations
										footer.card--team-footer
											div.card--team-links
												a.card--team-link(href="#")
													| Bio &gt;
												a.card--team-link(href="#")
													| Contact &gt;
								li.card--team-listitem.col-sm-4
									div.card--team-wrap
										header.card--team-header
											img.card--team-thumb(src="../images/awm-team-thumb.png", alt="Corporate Pension Funds")
											h2.card--team-heading Louis Millar, CFA, CPA
											p.card--team-content Head of Operations
										footer.card--team-footer
											div.card--team-links
												a.card--team-link(href="#")
													| Bio &gt;
												a.card--team-link(href="#")
													| Contact &gt;
		div.card--testimonial
			.container
				.row
					.col-sm-7.col-sm-offset-5
						div.card--testimonial-wrap
							blockquote.card--testimonial-blockquote
								| “Simon from AWM has taken the time to listen to what matters most and has tailored an investment plan that aligns perfectly with our goals.”
							cite.card--testimonial-cite
								| ~ Sandy &amp; Jonathan Coralbank, Hamilton, Bermuda
		div.card--callout.card--callout-primary
			.container
				.row
					.col-sm-12
						.text-center
							p.card--callout-content
								| We can help you achieve your goals with our exceptional products and experienced team.
							a.card--callout-link.btn.btn-primary(href='#') Let’s Discuss Your Needs
