.umb-grid
	.grid-section
		.site--header(data-js="site-header", role="banner")
			.container
				.row
					.col-sm-12
						.site--header-wrap
							img.site--header-img.hidden(src="images/awm-select-funds-bg.jpg", alt="Select Funds", role="img")
							p.site--header-label Argus Select Funds
							h1.site--header-heading(role="heading")
								span.site--header-heading-text Simplicity.
								span.site--header-heading-text Best Practice.
							p.site--header-content A simple structure enables you to make more impactful decision while benefitting from global exposure at lower fees.
							.site--header-btn
								a.site--header-link.btn.btn-primary(href='contact-us.html', role="link") Find Out More
		.card--summary
			.container
				.row
					.col-sm-12
						.text-center
							h2.card--summary-heading(role="heading") Argus Select Funds.
							p.card--summary-content Our mission is to obtain the best long-term results for you. In a rigorous process we created a selection of funds matching varying levels of risk to help us achieve this goal. A simple structure enables you to make fewer but more impactful decisions. At the same time, it lets you benefit from leveraging our pricing power with investment managers, keeping fees low.
		.card--funds.card--funds-primary-bg
			.container
				.row
					.col-sm-12
						.text-center
							p.card--funds-caption.card--funds-caption-fullwidth
								| Argus Wealth Management manages over 
								strong $1 billion 
								| in discretionary and advisory assets and provides a range of investment solution for varying investor profiles. Here is an overview of our Select Funds:
							ul.card--funds-list.row(role="list")
								li.card--funds-listitem.card--funds-listitem-conservative.col-sm-12(role="listitem")
									.card--funds-wrap
										header.card--funds-header
											img.card--funds-thumb(src="images/funds-conservative-thumb.jpg", alt="Conservative Fund", role="img")
										section.card--funds-section
											h2.card--funds-h2
												| Conservative 
												span.card--funds-h2-medium Fund 
											h3.card--funds-h3 Fund Objective
											p.card--funds-p Preservation of capital with significant exposure to fixed income. There will be some exposure to equities to reduce overall portfolio risk and to provide a modest growth of capital.
											a.card--funds-link.btn.btn-primary.hidden-xs(href='pdf/AFL_Conservative_FactSheet.pdf', target="_blank", role='link') Download PDF
										footer.card--funds-footer
											img.card--funds-thumb(src="images/funds-conservative-graph-thumb.jpg", alt="Conservative Fund", role="img")
											a.card--funds-link.btn.btn-primary.visible-xs(href='pdf/AFL_Conservative_FactSheet.pdf', target="_blank", role='link') Download PDF
								li.card--funds-listitem.card--funds-listitem-moderate.col-sm-12(role="listitem")
									.card--funds-wrap
										header.card--funds-header
											img.card--funds-thumb(src="images/funds-moderate-thumb.jpg", alt="Moderate Fund", role="img")
										section.card--funds-section
											h2.card--funds-h2
												| Moderate 
												span.card--funds-h2-medium Fund 
											h3.card--funds-h3 Fund Objective
											p.card--funds-p Moderate growth of capital with lower volatility. Primary exposure will be to fixed income, with a meaningful exposure to equities to support growth of capital.
											a.card--funds-link.btn.btn-primary.hidden-xs(href='pdf/AFL_Moderate_FactSheet.pdf', target="_blank", role='link') Download PDF
										footer.card--funds-footer
											img.card--funds-thumb(src="images/funds-moderate-graph-thumb.jpg", alt="Moderate Fund", role="img")
											a.card--funds-link.btn.btn-primary.visible-xs(href='pdf/AFL_Moderate_FactSheet.pdf', target="_blank", role='link') Download PDF
								li.card--funds-listitem.card--funds-listitem-balanced.col-sm-12(role="listitem")
									.card--funds-wrap
										header.card--funds-header
											img.card--funds-thumb(src="images/funds-balanced-thumb.jpg", alt="Balanced Fund", role="img")
										section.card--funds-section
											h2.card--funds-h2
												| Balanced 
												span.card--funds-h2-medium Fund 
											h3.card--funds-h3 Fund Objective
											p.card--funds-p Growth of capital with a primary exposure to equities, while reducing risk and volatility through fixed income and real estate exposure.
											a.card--funds-link.btn.btn-primary.hidden-xs(href='pdf/AFL_Balanced_FactSheet.pdf', target="_blank", role='link') Download PDF
										footer.card--funds-footer
											img.card--funds-thumb(src="images/funds-balanced-graph-thumb.jpg", alt="Balanced Fund", role="img")
											a.card--funds-link.btn.btn-primary.visible-xs(href='pdf/AFL_Balanced_FactSheet.pdf', target="_blank", role='link') Download PDF
								li.card--funds-listitem.card--funds-listitem-growth.col-sm-12(role="listitem")
									.card--funds-wrap
										header.card--funds-header
											img.card--funds-thumb(src="images/funds-growth-thumb.jpg", alt="Growth Fund", role="img")
										section.card--funds-section
											h2.card--funds-h2
												| Growth 
												span.card--funds-h2-medium Fund 
											h3.card--funds-h3 Fund Objective
											p.card--funds-p Growth of capital over complete market cycles with significant exposure to equities and some modification of risk through fixed income and real estate exposure.
											a.card--funds-link.btn.btn-primary.hidden-xs(href='pdf/AFL_Growth_FactSheet.pdf', target="_blank", role='link') Download PDF
										footer.card--funds-footer
											img.card--funds-thumb(src="images/funds-growth-graph-thumb.jpg", alt="Growth Fund", role="img")
											a.card--funds-link.btn.btn-primary.visible-xs(href='pdf/AFL_Growth_FactSheet.pdf', target="_blank", role='link') Download PDF
								li.card--funds-listitem.card--funds-listitem-aggressive.col-sm-12(role="listitem")
									.card--funds-wrap
										header.card--funds-header
											img.card--funds-thumb(src="images/funds-aggressive-thumb.jpg", alt="Aggressive Fund", role="img")
										section.card--funds-section
											h2.card--funds-h2
												| Aggressive 
												span.card--funds-h2-medium Fund 
											h3.card--funds-h3 Fund Objective
											p.card--funds-p Growth of capital over complete market cycles with full exposure to equity markets and risk based assets.
											a.card--funds-link.btn.btn-primary.hidden-xs(href='pdf/AFL_Aggressive_FactSheet.pdf', target="_blank", role='link') Download PDF
										footer.card--funds-footer
											img.card--funds-thumb(src="images/funds-aggressive-graph-thumb.jpg", alt="Aggressive Fund", role="img")
											a.card--funds-link.btn.btn-primary.visible-xs(href='pdf/AFL_Aggressive_FactSheet.pdf', target="_blank", role='link') Download PDF
				.row
					.col-sm-12
						.text-center
							p.card--portfolio-blurb
								| To download our 
								strong Prospectus, 
								| please 
								a.card--portfolio-link(href="pdf/Argus_Investment_Strategies_Fund_Ltd_Prospectus_01_Jan_2018.pdf", role="pdf" target="_blank") click here
								| .
		.card--callout.card--callout-secondary
			.container
				.row
					.col-sm-12
						.text-center
							p.card--callout-content
								| We can help you achieve your goals with our exceptional products and experienced team.
							a.card--callout-link.btn.btn-primary(href='contact-us.html', role="link") Let’s Discuss Your Needs
