.umb-grid
	.grid-section
		.site--banner.site--banner-compact(data-js="site-banner", role="banner")
			.container
				.row
					.col-sm-12
						.site--banner-wrap
							img.site--banner-img.hidden(src="images/awm-contactus-banner-bg.jpg", alt="Contact Us", role="img")
							h1.site--banner-heading(role="heading")
								| Contact Us
		.site--content
			.container
				.row
					.col-sm-12.col-md-4
						h2.section-title.dark-blue(role="heading") Get in Touch
						p Don't hesitate to reach out to us.
						p
							strong Tel: 
							| +1 (441) 295-9000
							br
							strong Fax: 
							| +1 (441) 295-9001
							br
							strong Email: 
							a.site--content-link(href="mailto:invest@argus.bm") invest@argus.bm
							br
							br
							br
							a.btn.btn-primary.outline.mobile-block(href="pdf/AFL_ClientComplaintForm.pdf", target="_blank") Complaints
					.col-sm-12.col-md-4
						hr.visible-xs.visible-sm
						h2.section-title.dark-blue(role="heading") Our Location
						span.light-blue Address
						p
							| Maxwell Roberts Building
							br
							| 1 Church Street, 3rd Floor
							br
							| Hamilton HM11, Bermuda
							br
							br
						span.light-blue Send Mail To
						p
							| P.O. Box HM 1064
							br
							| Hamilton HM EX
							br
							| Bermuda
			.container-fluid.map--container
				.row
					#map