.umb-grid
	.grid-section
		.site--banner.site--banner-compact(data-js="site-banner", role="banner")
			.container
				.row
					.col-sm-12
						.site--banner-wrap
							h1.site--banner-heading(role="heading")
								| Contact Us
		.site--content
			.container
				.row
					.col-sm-6
						.site--content-wrap
							h2.site--content-heading(role="heading") Get in Touch
							p.site--content-paragraph Don't hesitate to reach out to us.
							p.site--content-paragraph
								strong Tel: 
								| +1 (441) 295-9000
								br
								strong Fax: 
								| +1 (441) 295-9001
								br
								strong Email: 
								a.site--content-link(href="mailto:invest@afl.bm") invest@afl.bm
					.col-sm-6
						.site--content-wrap
							h2.site--content-heading(role="heading") Our Location
							h3.site--content-caption(role="heading") Address
							p.site--content-paragraph
								| Maxwell Roberts Building
								br
								| 1 Church Street, 3rd Floor
								br
								| Hamilton HM11, Bermuda
							h3.site--content-caption(role="heading") Send Mail To
							p.site--content-paragraph
								| P.O. Box HM 1064
								br
								| Hamilton HM EX
								br
								| BERMUDA