.umb-grid
	.grid-section
		.site--header(data-js="site-header", role="banner")
			.container
				.row
					.col-sm-12
						.site--header-wrap
							img.site--header-img.hidden(src="images/awm-select-funds-bg.jpg", alt="Customized Solutions", role="img")
							p.site--header-label Customized Solutions
							h1.site--header-heading(role="heading")
								span.site--header-heading-text Simplicity.
								span.site--header-heading-text Discipline.
							p.site--header-content A simple structure enables you to make more impactful decisions. Discipline ensures that emotions do not impact sound decisions.
							.site--header-btn
								a.site--header-link.btn.btn-primary(href='contact-us.html', role="link") Find Out More
		.card--summary
			.container
				.row
					.col-sm-12
						.text-center
							h2.card--summary-heading(role="heading") Customized Solutions.
							p.card--summary-content Our mission is to meet your financial goals. We engage with you to understand your specific circumstances and develop a structure specific to your risk tolerance. We provide with you with a clear written guideline. Transparency, discipline, cost-containment and simplicity means that your expected results are within reach.
		.card--portfolio
			.container
				.row
					.col-sm-12
						.text-center
							p.card--portfolio-caption
								| We manage over 
								strong $1 billion 
								| in discretionary and advisory assets for our clients. For clients with $500,000 or more to invest, our customized investment solutions:
							ul.card--portfolio-list.row(role="list")
								li.card--portfolio-listitem.col-sm-6.col-md-4(role="listitem")
									.card--portfolio-wrap
										p.card--portfolio-content Consider all our clients’ financial (i.e. pension investments, investments held with other managers, restricted stock) and non-financial assets (i.e. real estate held for rental income or private company shares) when determining an appropriate asset allocation.
								li.card--portfolio-listitem.col-sm-6.col-md-4(role="listitem")
									.card--portfolio-wrap
										p.card--portfolio-content Include a personalized investment policy statement that shows long-term expected returns and anticipated levels of risk to ensure that our clients fully understand how their portfolio should respond to market conditions.
								li.card--portfolio-listitem.col-sm-6.col-md-4(role="listitem")
									.card--portfolio-wrap
										p.card--portfolio-content Can be structured to include multiple currencies to match anticipated long-term liabilities, for example university fees that could be in US$, CDN$, GBP or EUR or retirement plans that have not been finalized and could include different countries.
								li.card--portfolio-listitem.col-sm-6.col-md-4(role="listitem")
									.card--portfolio-wrap
										p.card--portfolio-content Incorporate Monte Carlo analysis to advise the likelihood of our clients’ assets and distributions being sufficient to meet long term goals.
								li.card--portfolio-listitem.col-sm-6.col-md-4(role="listitem")
									.card--portfolio-wrap
										p.card--portfolio-content Include details of all costs – we are fully transparent.
								li.card--portfolio-listitem.col-sm-6.col-md-4(role="listitem")
									.card--portfolio-wrap
										p.card--portfolio-content We always act in the best interest of our clients and commit to our clients that we are acting as a fiduciary.
		.card--callout.card--callout-secondary
			.container
				.row
					.col-sm-12
						.text-center
							p.card--callout-content
								| We can help you achieve your goals with our exceptional products and experienced team.
							a.card--callout-link.btn.btn-primary(href='contact-us.html', role="link") Let’s Discuss Your Needs
