.umb-grid
  .grid-section
    //- .site--banner.site--banner-compact(data-js="site-banner", role="banner")
    //- 	.container
    //- 		.row
    //- 			.col-sm-12
    //- 				.site--banner-wrap
    //- 					img.site--banner-img.hidden(src="images/awm-market-commentary-bg.jpg", alt="Market Commentary", role="img")
    //- 					h1.site--banner-heading(role="heading")
    //- 						| Holiday Cheer
    .site--content
      .container
        .row
          .col-sm-12
            .video-001-wrapper
              #video003(data-plyr-provider="youtube" data-plyr-embed-id="v6bOvJ0tKdU")
