.container
	.row
		.col-sm-12
			h1 Home
			hr
			div
				h2 Local Expertise. Global Exposure.
				p Providing high quality wealth management advice so that you can focus on the things that matter most.
				a(href="#") Contact Us For More Information
			hr
			h2 Argus wealth managemENT
			p Argus Wealth Management (”AWM”) is a Bermudian financial services company that provides a range of investment solutions to individuals, couples, trusts, companies, endowments and philanthropic organisations.
			p AWM is a member of The Argus Group of Companies (www.argus.bm) and was founded in 2005. The Argus Group has a history of over 20 years managing investment assets.
			hr
			p We manage over $1 billion in discretionary and advisory assets and provide a range of investment solutions for three main client groups:
			div
				h2 High Net Worth Clients
				p For clients with more than $500,000 to invest, AWM manages customized portfolios that are tailored to clients’ needs and risk tolerances, on either a discretionary or advisory basis.
				a(href="#") Learn More >
			div
				h2 Institutional Investors
				p AWM manages portfolios for trusts, companies, endowments and philanthropic organizations.
				p We offer a variety of traditional and ethical investment vehicles.
				a(href="#") Learn More >
			div
				h2 Corporate Pension Funds
				p AWM is the investment manager for the balance sheet assets of The Argus Group.
				p We also offer our expertise managing pension pools to corporate clients.
				a(href="#") Learn More >
			hr
			p We have a wealth of experience working with both local and international clients to whom we are considered a trusted advisor. We spend time truly getting to know our clients and take pride in our investment approach and excellent client service. The majority of AWM’s staff are Bermudians and our investment team includes three CFA charter holders.
			a(href="#") Meet Our Team
			hr
			p This will be a banner (design to be determined) that will highlight and link to the Product Offering page.
			a(href="#") Find Out More
			hr
			p We help you achieve your goals with our exceptional service in private wealth management.
			a(href="#") Let’s Talk