.container
	.row
		.col-sm-12
			h2 Investment Philosophy
			h1 Simplicity. Transparency.
			p Providing clear, easy-to-understand structures and full transparency about fees promotes trust and lets you sleep at night.
			a(href="#") Find Out More
			hr
			h1 Our Investment Philosophy. Why Argus Wealth Management?
			p The investment landscape can be complicated and intimidating. Our mission is to put the matter of wealth management into clear portfolio structures, explained using ease-to-understand language. Full disclosure of costs and fees involved and the use of language suitable to our client’s individual level of knowledge is consistent with the level of trust The Argus Group has built with its clients.
			p Our focus when looking after clients’ assets is the long-term creation of wealth within defined and acceptable levels of risk. We will take the time to understand your future goals. This occurs through meaningful discussions and the use of various tools. By combining these, we can make an intelligent decision on the appropriate asset allocation and ongoing investment decisions.
			p To implement our philosophy, we employ a mixture of active and passive strategies. We engage active managers only where we feel they can add value over passive (index-based) alternatives. We have aligned ourselves with industry leaders in order to secure best practice with global exposure. Allocations are regularly reviewed since market conditions change over time. We monitor various market risks and the way losses may occur and ensure that portfolio risks are consistent with client expectations.
			hr
			h1 We focus on Strategic (Long-Term) Asset Allocation
			p Over 90% of your investment outcome is determined by the asset allocation in your portfolio. This makes is the most important decision when creating an investment portfolio. Monitoring changing market conditions results in varying the weighting across different asset classes to remain within your chosen risk level. We put our emphasis on obtaining the proper strategic allocation in our funds and are conscious about keeping fees and cost low. Both these approaches have proven to be the best way in achieving long-term results.
			p Determining the appropriate weighting across different asset classes is the most important investment decision to be made when constructing a portfolio.
			p A landmark study (Brinson &amp; Beebower, 1986) illustrates the importance of asset allocation when determining portfolio returns.
			p > Joel, can we find a more recent study?
			img(src="http://placehold.it/100x0100", alt="Chart")
			hr
			p AWM manages over $1 billion in discretionary and advisory assets and provides a range of investment solutions for three main client groups:
			div
				h2 High Net Worth Clients
				p For clients with more than $500,000 to invest, AWM manages customized portfolios that are tailored to clients’ needs and risk tolerances, on either a discretionary or advisory basis.
				a(href="#") Learn more
			div
				h2 Institutional Investors
				p AWM manages portfolios for trusts, companies, endowments and philanthropic organizations.
				p Offering a variety of traditional and ethical investment vehicles.
				a(href="#") Learn more
			div
				h2 Corporate Pension Funds
				p AWM is the investment manager for the balance sheet assets of The Argus Group.
				p We also offer our expertise managing pension pools to corporate clients.
				a(href="#") Learn more
			hr
			p We can help you achieve your goals with our exceptional products and experienced team.
			a(href="#") Let’s Discuss Your Needs