.umb-grid
	.grid-section
		div
			.row
				.col-md-12.column
					div
						.row.hero-with-breadcrumb-container
							.hero-with-breadcrumb.hero-bc-image.ag-row-mobile-full(style="background-image: url('http://argus.bm/media/3437/disability-insurance-product-banner.jpg');filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://argus.bm/media/3437/disability-insurance-product-banner.jpg', sizingMethod='scale'); -ms-filter: 'progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://argus.bm/media/3437/disability-insurance-product-banner.jpg', sizingMethod='scale')'';")
								.hero-with-breadcrumb-overlay
								.hero-with-breadcrumb-content-container.header-top-padding
									.container
										.hero-with-breadcrumb-content
											h1.header-letter-spacing Simplicity. Best Practice.
											h3
												| Using easy-to-understand language and clear portfolio structuresso that you can make informed decisions and sleep at night.
											div
												p
												a.btn.btn-primary.ag-hero-btn(href='#', target='_self') Find Out More
		div.card--summary
			.container
				.row
					.col-sm-12
						.text-center
							h2.card--summary--heading Why Argus Wealth Management?
							p.card--summary--content The investment landscape can be complicated and intimidating. Our mission is to put the matter of wealth management into clear portfolio structures, explained using ease-to-understand language. This enables our clients to make fewer but more impactful decisions. AWM manages portfolios for individuals, couples, trusts, companies, endowments and philanthropic organizations.
		div.card--features.card--features-primary-bg
			.container
				.row
					.col-sm-12
						.text-center
							p.card--features-caption AWM manages over $1 billion in discretionary and advisory assets and provides advisory services and a range of investment solutions for three main client groups:
							ul.card--features-list.row
								li.card--features-listitem.col-sm-4
									div.card--features-wrap
										header
											img(src="../images/awm-feature-01-thumb.png", alt="High Net Worth Clients")
										footer
											h2.card--features-box-heading High Net Worth Clients
											p.card--features-box-content For clients with more than $500,000 to invest, AWM manages customized portfolios that are tailored to clients’ needs and risk tolerances, on either a discretionary or advisory basis.
											a.card--features-box-link(href="#")
												| Learn more &gt;
								li.card--features-listitem.col-sm-4
									div.card--features-wrap
										header
											img(src="../images/awm-feature-02-thumb.png", alt="Institutional Investors")
										footer
											h2.card--features-box-heading Institutional Investors
											p.card--features-box-content AWM manages portfolios for trusts, companies, endowments and philanthropic organizations.
											p.card--features-box-content We offer a variety of traditional and ethical investment vehicles.
											a.card--features-box-link(href="#")
												| Learn more &gt;
								li.card--features-listitem.col-sm-4
									div.card--features-wrap
										header
											img(src="../images/awm-feature-03-thumb.png", alt="Corporate Pension Funds")
										footer
											h2.card--features-box-heading Corporate Pension Funds
											p.card--features-box-content AWM is the investment manager for the balance sheet assets of The Argus Group.
											p.card--features-box-content We also offer our expertise managing pension pools to corporate clients.
											a.card--features-box-link(href="#")
												| Learn more &gt;
		div.card--testimonial
			.container
				.row
					.col-sm-7.col-sm-offset-5
						div
							blockquote
								| “Simon from AWM has taken the time to listen to what matters most and has tailored an investment plan that aligns perfectly with our goals.”
							cite
								| ~ Sandy &amp; Jonathan Coralbank, Hamilton, Bermuda
		div.card--callout.card--callout-primary
			.container
				.row
					.col-sm-12
						.text-center
							p
								| We can help you achieve your goals with our exceptional products and experienced team.
							a.btn.btn-primary(href='#') Let’s Discuss Your Needs
