.umb-grid
	.grid-section
		div
			.row
				.col-md-12.column
					div
						.row.hero-with-breadcrumb-container
							.hero-with-breadcrumb.hero-bc-image.ag-row-mobile-full(style="background-image: url('http://argus.bm/media/3437/disability-insurance-product-banner.jpg');filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://argus.bm/media/3437/disability-insurance-product-banner.jpg', sizingMethod='scale'); -ms-filter: 'progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://argus.bm/media/3437/disability-insurance-product-banner.jpg', sizingMethod='scale')'';")
								.hero-with-breadcrumb-overlay
								.hero-with-breadcrumb-content-container.header-top-padding
									.container
										.hero-with-breadcrumb-content
											h1.header-letter-spacing Simplicity. Transparency.
											h3
												| Providing clear, easy-to-understand structures and full transparency about fees promotes trust and lets you sleep at night.
											div
												p
												a.btn.btn-primary.ag-hero-btn(href='#', target='_self') Find Out More
		div.card--summary
			.container
				.row
					.col-sm-12
						.text-center
							h2.card--summary--heading Our Investment Philosophy. Why Argus Wealth Management?
							p.card--summary--content The investment landscape can be complicated and intimidating. Our mission is to put the matter of wealth management into clear portfolio structures, explained using ease-to-understand language. Full disclosure of costs and fees involved and the use of language suitable to our client’s individual level of knowledge is consistent with the level of trust The Argus Group has built with its clients.
							p.card--summary--content Our focus when looking after clients’ assets is the long-term creation of wealth within defined and acceptable levels of risk. We will take the time to understand your future goals. This occurs through meaningful discussions and the use of various tools. By combining these, we can make an intelligent decision on the appropriate asset allocation and ongoing investment decisions.
							p.card--summary--content To implement our philosophy, we employ a mixture of active and passive strategies. We engage active managers only where we feel they can add value over passive (index-based) alternatives. We have aligned ourselves with industry leaders in order to secure best practice with global exposure. Allocations are regularly reviewed since market conditions change over time. We monitor various market risks and the way losses may occur and ensure that portfolio risks are consistent with client expectations.
		div.card--chart
			.container
				.row
					.col-sm-12
						h2.card--chart-heading We focus on Strategic (Long-Term) Asset Allocation
						p.card--chart-content Over 90% of your investment outcome is determined by the asset allocation in your portfolio. This makes is the most important decision when creating an investment portfolio. Monitoring changing market conditions results in varying the weighting across different asset classes to remain within your chosen risk level. We put our emphasis on obtaining the proper strategic allocation in our funds and are conscious about keeping fees and cost low. Both these approaches have proven to be the best way in achieving long-term results.
				.row
					.col-sm-6
						p.card--chart-content Determining the appropriate weighting across different asset classes is the most important investment decision to be made when constructing a portfolio.
						p.card--chart-content
							| A landmark study (Brinson &amp; Beebower, 1986) illustrates the importance of asset allocation when determining portfolio returns.
							br
							| > Joel, can we find a more recent study?
						table
							tr
								td
									span
								td Asset Allocation
								td 91%
							tr
								td
									span
								td Security Selection
								td 5%
							tr
								td
									span
								td Market Timing
								td 2%
							tr
								td
									span
								td Other Factors
								td 2%
					.col-sm-6
						img(src="images/awm-chart.png", alt="Chart")
		div.card--features.card--features-secondary-bg
			.container
				.row
					.col-sm-12
						.text-center
							p.card--features-caption
								| AWM manages over 
								strong $1 billion 
								| in discretionary and advisory assets and provides a range of investment solutions for 
								strong three main client groups:
							ul.card--features-list.row
								li.card--features-listitem.col-sm-4
									div.card--features-wrap
										header
											img(src="../images/awm-feature-01-thumb.png", alt="High Net Worth Clients")
										footer
											h2.card--features-box-heading High Net Worth Clients
											p.card--features-box-content For clients with more than $500,000 to invest, AWM manages customized portfolios that are tailored to clients’ needs and risk tolerances, on either a discretionary or advisory basis.
											a.card--features-box-link(href="#")
												| Learn more &gt;
								li.card--features-listitem.col-sm-4
									div.card--features-wrap
										header
											img(src="../images/awm-feature-02-thumb.png", alt="Institutional Investors")
										footer
											h2.card--features-box-heading Institutional Investors
											p.card--features-box-content AWM manages portfolios for trusts, companies, endowments and philanthropic organizations.
											p.card--features-box-content Offering a variety of traditional and ethical investment vehicles.
											a.card--features-box-link(href="#")
												| Learn more &gt;
								li.card--features-listitem.col-sm-4
									div.card--features-wrap
										header
											img(src="../images/awm-feature-03-thumb.png", alt="Corporate Pension Funds")
										footer
											h2.card--features-box-heading Corporate Pension Funds
											p.card--features-box-content AWM is the investment manager for the balance sheet assets of The Argus Group.
											p.card--features-box-content We also offer our expertise managing pension pools to corporate clients.
											a.card--features-box-link(href="#")
												| Learn more &gt;
		div.card--callout.card--callout-primary
			.container
				.row
					.col-sm-12
						.text-center
							p
								| We can help you achieve your goals with our exceptional products and experienced team.
							a.btn.btn-primary(href='#') Let’s Discuss Your Needs
