.umb-grid
	.grid-section
		.site--header(data-js="site-header", role="banner")
			.container
				.row
					.col-sm-12
						.site--header-wrap
							img.site--header-img.hidden(src="images/awm-investment-philosophy-bg.jpg", alt="Investment Philosophy", role="img")
							p.site--header-label Investment Philosophy
							h1.site--header-heading(role="heading")
								span.site--header-heading-text Simplicity.
								span.site--header-heading-text Transparency.
							p.site--header-content Providing clear, easy-to-understand structures and full transparency about fees promotes trust and lets you sleep at night.
							.site--header-btn
								a.site--header-link.btn.btn-primary(href='contact-us.html', role="link") Find Out More
		.card--summary
			.container
				.row
					.col-sm-12
						.text-center
							h2.card--summary-heading(role="heading") Our Investment Philosophy.
							p.card--summary-content At Argus Wealth Management we help clients attain financial security. The investment landscape can be complicated and intimidating. Our mission is to put the matter of wealth management into clear portfolio structures, explained using easy-to-understand language. We make all costs and fees fully transparent to clients.
							p.card--summary-content.card--summary-content-small Our focus when looking after client's assets is the long-term creation of wealth within defined and acceptable levels of risk. We take the time to understand our client's goals.
							.row
								.col-sm-3
									p We believe in an investment process that produces superior long-term results. We are not short-term speculators or market-timers. The best way to obtain expected long-term performance is with the proper strategic asset allocation, supported by a rebalancing methodology and excellent managers.
								.col-sm-3
									p We are always cognizant of market risk and monitor it constantly. If market risk is not consistent with an acceptable amount of portfolio risk, we are prepared to act and make changes to our client portfolios.
								.col-sm-3
									p We want to hire the best managers, mixing world class active managers with low cost index options where appropriate.
								.col-sm-3
									p Expenses should be kept as low as possible. We do understand that active management incurs a cost. There should always be value attributed for this cost, and we utilize our whole asset base to minimize these costs.
							hr
							p.card--summary-content.card--summary-content-small 
								| Here is an 
								a.card--portfolio-link(href="https://americas.vanguard.com/docs/literature/principles-for-investing-success-tlrv.pdf", target="_blank", role="link") independent research article 
								| by Vanguard which supports the process that we utilize in managing our client portfolios.
		.card--features.card--features-secondary-bg
			.container
				.row
					.col-sm-12
						.text-center
							p.card--features-caption
								| Argus Wealth Management manages over 
								strong $1 billion 
								| in discretionary and advisory assets and provides a range of investment solutions for 
								strong three main client groups:
							ul.card--features-list.row(role="list")
								li.card--features-listitem.col-sm-4(role="listitem")
									.card--features-wrap
										header.card--features-header
											img.card--features-thumb(src="images/awm-feature-01-thumb.jpg", alt="High Net Worth Clients", role="img")
											h2.card--features-heading(role="heading") High Net Worth Clients
											p.card--features-content For clients with more than $500,000 to invest, Argus Wealth Management manages customized portfolios that are tailored to clients’ needs and risk tolerances, on either a discretionary or advisory basis.
										footer.card--features-footer
											a.card--features-link(href="high-net-worth-clients.html", role="link")
												| Learn more &gt;
								li.card--features-listitem.col-sm-4(role="listitem")
									.card--features-wrap
										header.card--features-header
											img.card--features-thumb(src="images/awm-feature-02-thumb.jpg", alt="Institutional Investors", role="img")
											h2.card--features-heading(role="heading") Endowments &amp; Trusts
											p.card--features-content Argus Wealth Management manages portfolios for trusts, companies, endowments and philanthropic organisations.
										footer.card--features-footer
											a.card--features-link(href="endowments-trusts.html", role="link")
												| Learn more &gt;
								li.card--features-listitem.col-sm-4(role="listitem")
									.card--features-wrap
										header.card--features-header
											img.card--features-thumb(src="images/awm-feature-03-thumb.jpg", alt="Corporate Pension Funds", role="img")
											h2.card--features-heading(role="heading") Pension Funds
											p.card--features-content Argus Wealth Management uses its investment expertise to manage The Argus Group's pension pools.
										footer.card--features-footer
											a.card--features-link(href="pension-funds.html", role="link")
												| Learn more &gt;
		.card--callout.card--callout-secondary
			.container
				.row
					.col-sm-12
						.text-center
							p.card--callout-content
								| We can help you achieve your goals with our exceptional products and experienced team.
							a.card--callout-link.btn.btn-primary(href='contact-us.html', role="link") Let’s Discuss Your Needs
