.container
	.row
		.col-sm-12
			h1 Investor profiles
			hr
			h1 Simplicity. Best Practice.
			p Using easy-to-understand language and clear portfolio structures so that you can make informed decisions and sleep at night.
			a(href="#") Find out more
			hr
			h2 Why Argus Wealth Management?
			p The investment landscape can be complicated and intimidating. Our mission is to put the matter of wealth management into clear portfolio structures, explained using ease-to-understand language. This enables our clients to make fewer but more impactful decisions. AWM manages portfolios for individuals, couples, trusts, companies, endowments and philanthropic organizations.
			hr
			p AWM manages over $1 billion in discretionary and advisory assets and provides advisory services and a range of investment solutions for three main client groups:
			div
				h2 High Net Worth Clients
				p For clients with more than $500,000 to invest, AWM manages customized portfolios that are tailored to client's needs and risk tolerances, on either a discretionary or advisory basis.
				a(href="#") Learn more
			div
				h2 Institutional Investors
				p AWM manages portfolios for trusts, companies, endowments and philanthropic organizations.
				p We offer a varierty of traditional and ethical investment vehicles.
				a(href="#") Learn more
			div
				h2 Corporate Pension Funds
				p AWM is the investment manager for the balance sheet assets of The Argus Group.
				p We also offer our expertise managing pension pools to corporate clients.
				a(href="#") Learn more
			hr
			p "Simon from AWM has taken the time to listen to what matters most and has tailored an investment plan that aligns perfectly with our goals."
			p "~ Sandy &amp; Jonathan Coralbank, Hamilton, Bermuda"
			hr
			p We can help you achieve your goals with our exceptional products and experienced team.
			a(href="#") Let's Discuss Your Needs