.umb-grid
	.grid-section
		.site--banner.site--banner-compact(data-js="site-banner", role="banner")
			.container
				.row
					.col-sm-12
						.site--banner-wrap
							h1.site--banner-heading(role="heading")
								| Macro and Market Outlook
		.site--content
			.container
				.row
					.col-sm-12
						.site--content-wrap
							h2.site--content-heading(role="heading") Macro and Market Outlook heading...
							p.site--content-paragraph Macro and Market Outlook content...