.umb-grid
	.grid-section
		.site--banner.site--banner-compact(data-js="site-banner", role="banner")
			.container
				.row
					.col-sm-12
						.site--banner-wrap
							img.site--banner-img.hidden(src="images/awm-market-commentary-bg.jpg", alt="Market Commentary", role="img")
							h1.site--banner-heading(role="heading")
								| Market Commentary
		.site--content
			.container
				.row
					.col-sm-12
						h2.site--content-h2(role="heading") 3 Month Market Review &#8211; as at March 31, 2018
						h3.site--content-h3 Overview
						p.site--content-p The New Year started right where 2017 left off with major market indexes continuing to move higher. US stock indexes posted gains of 6.5% in January, hitting new highs and surpassing the level that Goldman Sachs analysts projected for the full year. Optimism about the global economy drove investors to pour a record amount of money into mutual funds and exchange-traded funds. It soon became clear that 2018 is not 2017 with an increase in volatility, a dip into correction territory, escalation of trade wars and geopolitics carried out via Twitter. We should remember that last year provided handsome returns across all asset classes. As long-term investors, we want to capture the gains when the markets provide them and be cognizant of shifts in fundamental factors to protect capital in falling markets. Our current view is that fundamentals are still positive, but investors are now responding to changing levels of geopolitical concerns and changing levels of interest rates.
						h3.site--content-h3 Equities
						p.site--content-p The previous year will go down in history as the only year that the S&P 500 did not have a negative month. The same cannot be said for this year. Volatility has returned. The CBOE Volatility Index, or VIX, surged about 80% during the first quarter. While volatility has settled at its historical average of about 20, it feels much higher because it increased from such low levels. US Equities finished the quarter only marginally lower (S&P 500 down 0.8%). Yet, the ride to get here was not peaceful as changing levels of risk started to be priced in. Stocks elsewhere also slid, with Japan’s Nikkei Stock Average losing 5% and the Stoxx Europe 600 declining 4%.
						h3.site--content-h3 Fixed Income
						p.site--content-p Hints of a pickup in inflation and a well-communicated desire by the US Federal Reserve to increase interest rates pushed yields higher (thereby decreasing bond prices). The US 10-year yield reached a four-year peak of 2.94%, from 2.43% at year-end. This increase was the largest for a quarter since December 2016. There is widespread consensus that rates will be increased either three or four times this year. It will be up to the new Fed Chair, Jerome Powell, to negotiate the narrow path of allowing rates to increase while not choking US and global growth in the process. A steep rise in bond yields would increase borrowing costs, potentially eating into companies’ profits and slowing spending among consumers. It also could make stocks, whose valuations are calculated relative to bond yields, look less attractive. Yet the key threat that investors say could push bond yields higher&mdash;a sharp rise in inflation&mdash;has not materialized yet.
						h3.site--content-h3 Currency
						p.site--content-p The US dollar has declined 10% since Trump was elected. The direction of the US dollar will have implications for markets. A weaker dollar helps make U.S. goods cheaper overseas, boosting profits to multinational corporations. It also lifts prices for commodities such as oil, copper and gold, which are denominated in dollars and become more affordable to foreign investors when the dollar falls. If the dollar falls too rapidly, that could shake faith in the U.S. economy and complicate the Fed’s plans to tighten monetary policy. An extended fall also could affect inflation as imported goods become more expensive.
						h3.site--content-h3 Outlook
						p.site--content-p Beneath the uncertainty over trade policies and the direction of interest rates, the economic outlook continues to look positive. Both the U.S. and global economies are expected to continue expanding, supported by a $1.5 trillion tax-cut in the US. Earnings in the US are projected to grow a healthy 17% in the first quarter, which when combined with the decline in stock prices makes valuations less lofty. Overseas valuations are fair.
						p.site--content-p We are aware of changing levels of risk, or at least a change in the perception of risk. We believe this is healthy for the markets as last year’s gains are consolidated at current levels. The ride is going to remain bumpy for a while, but so far the direction has not changed.