.umb-grid
	.grid-section
		.site--banner.site--banner-compact(data-js="site-banner", role="banner")
			.container
				.row
					.col-sm-12
						.site--banner-wrap
							img.site--banner-img.hidden(src="images/awm-market-commentary-bg.jpg", alt="Market Commentary", role="img")
							h1.site--banner-heading(role="heading")
								| Market Commentary
		.site--content
			.container
				.row
					.col-sm-12
						h2.site--content-h2(role="heading") 3 Month Market Review &#8211; as at June 30, 2018
						h3.site--content-h3 Overview
						h5 Risk happens slowly, then all at once…
						p.site--content-p One thing we know from following the markets is that the future is not like the past. In December, we advised our clients of potential headwinds and that the market gains of 2017 were unlikely to reoccur. This proved to be true as almost everything on the list of concerns came true. US stocks gyrated during the period, while almost every other asset declined. Equities incurred their first official correction (a decline of 10%) since 2016, and had significant dispersion across industry, market capitalisation, investment styles and geography. Fixed income investors had to contend with a new chair of the US Federal Reserve, successive interest rate increases, changing sentiment towards inflation, and not knowing when the next Tweet would send prices lower.
						p.site--content-p Investor concern was warranted as multiple threats of tariffs (i.e. additional taxes) on imported goods signalled concern for an all-out trade war. The target of the tariffs extend beyond just China, and include close US allies such as Canada and Europe. Protectionism is never good for growth – more expensive goods drive inflation up - so it’s no surprise that investors get nervous and volatility spikes with such threats. If the tariffs are implemented, this would clearly impede current economic growth.
						p.site--content-p It wasn’t all bad news on the geopolitical front. What would have seen implausible even one year ago became reality in June, when President Trump met with North Korean dictator, Kim Jong-un. While this has helped to cool tensions, tangible results will take time to materialise.
						h3.site--content-h3 Equities
						p.site--content-p After a volatile first six months, US Large Cap stocks (as measured by the S&P 500) ended up 2% and international stocks (as measured by the MSCI-EAFE) declined by 4%. US Small Cap and growth oriented sectors such as technology stocks were up 7% and 9%. In contrast to the high returns of 2017, emerging market equities were impacted by weakening currencies and trade concerns. Chinese stocks (as measured by the Shanghai composite) finished down almost 14%.
						h3.site--content-h3 Bonds
						p.site--content-p Fixed income had a challenging first six months of 2018. For the past two decades higher yields have typically been strongly tied to rises in stocks, as a stronger economy pushes up both. While fixed income investments are generally safer than equities, investors would be forgiven for feeling otherwise. US core bonds (as measured by the Bloomberg Barclays Aggregate) declined by 2%. Nervousness over inflation and two interest rate increases by the US Federal Reserve (the Fed) pushed bond yields higher and, as a result, prices lower. A rising interest rate environment is typically not good news for previously issued bonds. With the US economy continuing to grow, we can expect the Fed to continue along their path of gradually increasing interest rates.
						h3.site--content-h3 Outlook
						p.site--content-p A picture is worth a thousand words and the cartoon at the beginning of this newsletter is an example of something we can all recognize – that a seemingly quiet and calm situation can change rapidly. As experienced investors, we understand that markets can and do behave unpredictably at times and that market sentiment can change direction rapidly. For the patient long-term investor, such occurrences create opportunities.
						p.site--content-p Without a doubt 2018 has already proved to be quite a contrast to 2017. However, it was actually 2017 that was an anomaly, with its unusually low volatility of returns, and 2018 is shaping up to be a more normal market environment.
