.umb-grid
	.grid-section
		div
			.row
				.col-md-12.column
					div
						.row.hero-with-breadcrumb-container
							.hero-with-breadcrumb.hero-bc-image.ag-row-mobile-full(style="background-image: url('http://argus.bm/media/3437/disability-insurance-product-banner.jpg');filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://argus.bm/media/3437/disability-insurance-product-banner.jpg', sizingMethod='scale'); -ms-filter: 'progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://argus.bm/media/3437/disability-insurance-product-banner.jpg', sizingMethod='scale')'';")
								.hero-with-breadcrumb-overlay
								.breadcrumb.hidden-xs
									.container
										ul
											li
												a(href='#')
												span.fa.fa-home.ag-home-breadcrumb
												span.divider
											li.active Product Offering
								.hero-with-breadcrumb-content-container.header-top-padding
									.container
										.hero-with-breadcrumb-content
											h1.header-letter-spacing Transparency. Cost Containment.
											h3
												| Striving to keep fees low, passing on those savings to aid your long-term returns while being fully transparent.
											div
												p
												a.btn.btn-primary.ag-hero-btn(href='#', target='_self') Find Out More
		div.card--summary
			.container
				.row
					.col-sm-12
						.text-center
							h2.card--summary--heading What makes Us Different?
							p.card--summary--content At Argus Wealth Management, we believe in transparency, providing clarity about any fees to our investors. After all, an investor / private wealth manager relationship must be built on trust, keeping our investors informed about all aspects of their investment. Honest, high quality Advisory Services at your fingertips!
		div.card--portfolio
			.container
				.row
					.col-sm-12
						.text-center
							p.card--portfolio-caption AWM manages over $1 billion in discretionary and advisory assets and provides a range of investment solutions for three main client groups:
							ul.card--portfolio-list.row
								li.card--portfolio-listitem.col-sm-4
									div.card--portfolio-wrap
										img.card--portfolio-thumb(src="../images/awm-portfolio-thumb.png", alt="Access to Select Global Asset Managers.")
										h2.card--portfolio-heading Access to Select Global Asset Managers.
										p.card--portfolio-content Argus Wealth Management has carefully selected some of the world’s top rated asset managers based on track record and consistent performance.
								li.card--portfolio-listitem.col-sm-4
									div.card--portfolio-wrap
										img.card--portfolio-thumb(src="../images/awm-portfolio-thumb.png", alt="Customized Solutions to fit your specific Needs.")
										h2.card--portfolio-heading Customized Solutions to fit your specific Needs.
										p.card--portfolio-content We will listen to you and determine in face-to-face meetings which investment solutions will best fit your current situation and future goals.
								li.card--portfolio-listitem.col-sm-4
									div.card--portfolio-wrap
										img.card--portfolio-thumb(src="../images/awm-portfolio-thumb.png", alt="Ongoing Review of ever-changing Market Conditions.")
										h2.card--portfolio-heading Ongoing Review of ever-changing Market Conditions.
										p.card--portfolio-content Our experienced team is constantly monitoring current conditions surrounding world politics, business news and other factors in order to react quickly to changing trends.
								li.card--portfolio-listitem.col-sm-4
									div.card--portfolio-wrap
										img.card--portfolio-thumb(src="../images/awm-portfolio-thumb.png", alt="Bespoke Local Advisory Service.")
										h2.card--portfolio-heading Bespoke Local Advisory Service.
										p.card--portfolio-content At Argus Wealth Management, you can expect discrete and personalised service. We strive to truly understand your needs and forge long-lasting relationships built on honesty and trust.
								li.card--portfolio-listitem.col-sm-4
									div.card--portfolio-wrap
										img.card--portfolio-thumb(src="../images/awm-portfolio-thumb.png", alt="Flexibility. Simplicity. Impact.")
										h2.card--portfolio-heading Flexibility. Simplicity. Impact.
										p.card--portfolio-content Our team of advisors will try their best to accommodate your schedule and use language pitched to your level of investment knowledge.
										p.card--portfolio-box-content Giving you peace-of-mind and the flexibility you deserve.
								li.card--portfolio-listitem.col-sm-4
									div.card--portfolio-wrap
										img.card--portfolio-thumb(src="../images/awm-portfolio-thumb.png", alt="Responsive & Transparent. The way it should be.")
										h2.card--portfolio-heading Responsive &amp; Transparent. The way it should be.
										p.card--portfolio-content Argus Wealth Management has negotiated competitive rates and implemented a fee structure that is aimed to pass savings on to you. We employ a transparent business model that truly benefits our clients.
							p.card--portfolio-blurb
								| To learn more about our Select Portfolios, please click here.
		div.card--testimonial
			.container
				.row
					.col-sm-12
						div
							blockquote
								| “Simon from AWM has taken the time to listen to what matters most and has tailored an investment plan that aligns perfectly with our goals.”
							cite
								| ~ Sandy &amp; Jonathan Coralbank, Hamilton, Bermuda
		div.card--callout.card--callout-primary
			.container
				.row
					.col-sm-12
						.text-center
							p
								| We can help you achieve your goals with our exceptional products and experienced team.
							a.btn.btn-primary(href='#') Let’s Discuss Your Needs
