.container
	.row
		.col-sm-12
			h2 Product Offering
			h1 Transparency. Cost Containment.
			p Striving to keep fees low, passing on those savings to aid your long-term returns while being fully transparent.
			a(href="#") Find Out More
			hr
			h2 What makes Us Different?
			p At Argus Wealth Management, we believe in transparency, providing clarity about any fees to our investors. After all, an investor / private wealth manager relationship must be built on trust, keeping our investors informed about all aspects of their investment. Honest, high quality Advisory Services at your fingertips!
			hr
			p We manage over $1 billion in discretionary and advisory assets and provide a range of portfolios for our investors. We look globally for solid partners to be able to offer our investors high quality, proven solutions.
			div
				h2 Access to Select Global Asset Managers.
				p Argus Wealth Management has carefully selected some of the world’s top rated asset managers based on track record and consistent performance.
			div
				h2 Customized Solutions to fityour specific Needs.
				p We will listen to you and determine in face-to-face meetings which investment solutions will best fit your current situation and future goals.
			div
				h2 Ongoing Review of ever-changing Market Conditions.
				p Our experienced team is constantly monitoring current conditions surrounding world politics, business news and other factors in order to react quickly to changing trends.
			div
				h2 Bespoke Local Advisory Service.
				p At Argus Wealth Management, you can expect discrete and personalised service. We strive to truly understand your needs and forge long-lasting relationships built on honesty and trust.
			div
				h2 Flexibility. Simplicity. Impact.
				p Our team of advisors will try their best to accommodate your schedule and use language pitched to your level of investment knowledge.
				p Giving you peace-of-mind and the flexibility you deserve.
			div
				h2 Responsive &amp; Transparent.The way it should be.
				p Argus Wealth Management has negotiated competitive rates and implemented a fee structure that is aimed to pass savings on to you. We employ a transparent business model that truly benefits our clients.
			p To learn more about our Select Portfolios, please click here.
			hr
			p “Simon from AWM has taken the time to listen to what matters most and has tailored an investment plan that aligns perfectly with our goals.”
			p ~ Sandy &amp; Jonathan Coralbank, Hamilton, Bermuda
			hr
			p We can help you achieve your goals with our exceptional products and experienced team.
			a(href="#") Let’s Discuss Your Needs