.umb-grid
	.grid-section
		.site--banner.site--banner-compact(data-js="site-banner", role="banner")
			.container
				.row
					.col-sm-12
						.site--banner-wrap
							h1.site--banner-heading(role="heading")
								| Select Funds
		.site--content
			.container
				.row
					.col-sm-12
						.site--content-wrap
							p
								| Select Funds content...