.container
  .row
    .col-sm-12
      h1 Sitemap
      hr
      a(href="about-us.html") About us
      hr
      a(href="community.html") Community
      hr
      a(href="company-overview.html") Company overview
      hr
      a(href="contact-us.html") Contact us
      hr
      a(href="index.html") Home
      hr
      a(href="investment-philosophy.html") Investment philosophy
      hr
      a(href="investor-profiles.html") Investor profiles
      hr
      a(href="our-team.html") Our team
      hr
      a(href="product-offering.html") Product offering
      hr
      a(href="sitemap.html") Sitemap
      hr