.umb-grid
	.grid-section
		.site--banner.site--banner-compact(data-js="site-banner", role="banner")
			.container
				.row
					.col-sm-12
						.site--banner-wrap
							img.site--banner-img.hidden(src="images/awm-the-journal-bg.jpg", alt="The Journal", role="img")
							h1.site--banner-heading(role="heading")
								| The Journal
							//- p.site--banner-content Find out how we are making a difference in our community and in our company.
		.site--content
			.container
				.row
					.col-sm-12
						.site--content-journals.a-g-tabs
							.responsive-tabs-container.accordion-xs
								ul.nav.nav-tabs.responsive-tabs
									li.active
										a(data-toggle='tab', href='#august') August
									li
										a(data-toggle='tab', href='#july') July
									li
										a(data-toggle='tab', href='#may') May
									li
										a(data-toggle='tab', href='#april') April

								.tab-content(style="margin-top:10px;")
									p(style="font-style:italic;margin-bottom: 3rem;font-size:1.35rem;") Please note, some articles may require a subscription.
									#august.tab-pane.fade.in.active.hidden-absolute-xs
										.media
											a.pull-left(href='http://ewn.co.za/2018/07/18/what-croatia-s-president-taught-the-world-about-leadership-at-the-world-cup', target="_blank")
												img.media-object.img-responsive(alt='', src='http://arguswealth.bm/emails/images/newsletter/august_2018/web_august_2018_article_01.jpg', width='242', height='162')
											.media-body
												a(href='http://ewn.co.za/2018/07/18/what-croatia-s-president-taught-the-world-about-leadership-at-the-world-cup', target="_blank")
													h4.media-heading
														| The World Cup – It’s over, the but a Lesson on Leadership Continues
												p
													strong Source: Eyewitness News
													|  – What Croatia’s President Taught the World about Leadership at the World Cup.
												a.card--portfolio-link(href="http://ewn.co.za/2018/07/18/what-croatia-s-president-taught-the-world-about-leadership-at-the-world-cup" style="margin-right:30px;", target="_blank") > Read More
										hr
										.media
											a.pull-left(href='https://www.inc.com/jessica-stillman/follow-70-percent-rule-to-maximize-learning-says-this-5x-entrepreneur.html', target="_blank")
												img.media-object.img-responsive(alt='', src='http://arguswealth.bm/emails/images/newsletter/august_2018/web_august_2018_article_02.jpg', width='242', height='162')
											.media-body
												a(href='https://www.inc.com/jessica-stillman/follow-70-percent-rule-to-maximize-learning-says-this-5x-entrepreneur.html', target="_blank")
													h4.media-heading
														| Focus on the Hard Stuff
												p
													strong Source: Inc.com
													|  – What advice would we give a person just starting a career? How about the best way to allocate time to achieve growth?
												a.card--portfolio-link(href="https://www.inc.com/jessica-stillman/follow-70-percent-rule-to-maximize-learning-says-this-5x-entrepreneur.html", target="_blank") > Read More
										hr
										.media
											a.pull-left(href='https://www.mckinsey.com/industries/high-tech/our-insights/the-internet-of-things-five-critical-questions', target="_blank")
												img.media-object.img-responsive(alt='', src='http://arguswealth.bm/emails/images/newsletter/august_2018/web_august_2018_article_03.jpg', width='242', height='162')
											.media-body
												a(href='https://www.mckinsey.com/industries/high-tech/our-insights/the-internet-of-things-five-critical-questions', target="_blank")
													h4.media-heading
														| The Internet of Things
												p
													strong Source: McKinsey & Company
													|  – As more devices become connected to the internet (think of smart switches or your refrigerator) is also creates more opportunities to access our data or hack into a system. McKinsey & Co. ask five critical questions to help us understand the risk and opportunity of this technology.
												a.card--portfolio-link(href="https://www.mckinsey.com/industries/high-tech/our-insights/the-internet-of-things-five-critical-questions", target="_blank") > Read More
										hr
										.media
											a.pull-left(href='https://www.inc.com/tom-popomaronis/linkedin-subtly-released-a-new-networking-feature-it-just-may-kill-business-card.html?', target="_blank")
												img.media-object.img-responsive(alt='', src='http://arguswealth.bm/emails/images/newsletter/august_2018/web_august_2018_article_04.jpg', width='242', height='162')
											.media-body
												a(href='https://www.inc.com/tom-popomaronis/linkedin-subtly-released-a-new-networking-feature-it-just-may-kill-business-card.html?', target="_blank")
													h4.media-heading
														| Is the Business Card Dead?
												p
													strong Source: Inc.com
													|  LinkedIn has just developed a new feature that easily and seamlessly allows us to connect with new contacts. It is about time someone did this.
												a.card--portfolio-link(href="https://www.inc.com/tom-popomaronis/linkedin-subtly-released-a-new-networking-feature-it-just-may-kill-business-card.html?" , target="_blank") > Read More
										hr
										.media
											a.pull-left(href='https://www.inc.com/wanda-thibodeaux/why-warren-buffet-lives-well-below-his-means-and-you-should-too.html', target="_blank")
												img.media-object.img-responsive(alt='', src='http://arguswealth.bm/emails/images/newsletter/august_2018/web_august_2018_article_05.jpg', width='242', height='162')
											.media-body
												a(href='https://www.inc.com/wanda-thibodeaux/why-warren-buffet-lives-well-below-his-means-and-you-should-too.html', target="_blank")
													h4.media-heading
														| Live like Warren Buffet Does
												p
													| We know that we can all learn a lot from Warren Buffet. Living below our means is not one that immediately comes to mind. However, here is a strategy we can all embrace to help us be content and to keep stress levels tolerable.
												a.card--portfolio-link(href="https://www.inc.com/wanda-thibodeaux/why-warren-buffet-lives-well-below-his-means-and-you-should-too.html", target="_blank") > Read More
									#july.tab-pane.fade.in.hidden-absolute-xs
										.media
											a.pull-left(href='https://www.forbes.com/sites/womensmedia/2018/05/19/why-doing-what-you-say-matters-integrity-means-influence/#ba333055f30e', target="_blank")
												img.media-object.img-responsive(alt='', src='http://arguswealth.bm/emails/images/newsletter/july_2018/web_july_2018_article_01.jpg', width='242', height='162')
											.media-body
												a(href='https://www.forbes.com/sites/womensmedia/2018/05/19/why-doing-what-you-say-matters-integrity-means-influence/#ba333055f30e', target="_blank")
													h4.media-heading
														| The Importance of Keeping Commitments
												p
													strong Source: Forbes.com
													|  – Integrity is an intangible quality that leads to influence. Here is a three step plan to help us see if others view us as a person of integrity.
												a.card--portfolio-link(href="https://www.forbes.com/sites/womensmedia/2018/05/19/why-doing-what-you-say-matters-integrity-means-influence/#ba333055f30e" style="margin-right:30px;", target="_blank") > Read More
										hr
										.media
											a.pull-left(href='https://www.cnbc.com/2018/05/21/why-amazon-pays-employees-5000-to-quit.html', target="_blank")
												img.media-object.img-responsive(alt='', src='http://arguswealth.bm/emails/images/newsletter/july_2018/web_july_2018_article_02.jpg', width='242', height='162')
											.media-body
												a(href='https://www.cnbc.com/2018/05/21/why-amazon-pays-employees-5000-to-quit.html', target="_blank")
													h4.media-heading
														| Incentivizing Employees to Quit - How Amazon helps employees think about what they really want
												p
													strong Source: CNBC
													|  – Or said another way – here is how Amazon creates and maintains a great culture.
												a.card--portfolio-link(href="https://www.cnbc.com/2018/05/21/why-amazon-pays-employees-5000-to-quit.html", target="_blank") > Read More
										hr
										.media
											a.pull-left(href='https://hbr.org/2015/09/how-making-time-for-books-made-me-feel-less-busy', target="_blank")
												img.media-object.img-responsive(alt='', src='http://arguswealth.bm/emails/images/newsletter/july_2018/web_july_2018_article_03.jpg', width='242', height='162')
											.media-body
												a(href='https://hbr.org/2015/09/how-making-time-for-books-made-me-feel-less-busy', target="_blank")
													h4.media-heading
														| Want to Feel Less Busy? Try Reading a Book
												p
													strong Source: Harvard Business Review
													|  – The overload of digital information causes us to continually seek new information as a constant source of dopamine. The downside is that we don’t give our brains a rest. Reading provides relief from the flow of too much information and can help to lower stress and retain energy.
												a.card--portfolio-link(href="https://hbr.org/2015/09/how-making-time-for-books-made-me-feel-less-busy", target="_blank") > Read More
										hr
										.media
											a.pull-left(href='https://hbr.org/2017/02/8-ways-to-read-a-lot-more-books-this-year', target="_blank")
												img.media-object.img-responsive(alt='', src='http://arguswealth.bm/emails/images/newsletter/july_2018/web_july_2018_article_04.jpg', width='242', height='162')
											.media-body
												a(href='https://hbr.org/2017/02/8-ways-to-read-a-lot-more-books-this-year', target="_blank")
													h4.media-heading
														| 8 Ways to Read (a lot) More Books
												p
													strong Source: Harvard Business Review
													|  … and here are some ways to help us read more.
												a.card--portfolio-link(href="https://hbr.org/2017/02/8-ways-to-read-a-lot-more-books-this-year" , target="_blank") > Read More
										hr
										.media
											a.pull-left(href='https://www.kateraworth.com/doughnut/', target="_blank")
												img.media-object.img-responsive(alt='', src='http://arguswealth.bm/emails/images/newsletter/july_2018/web_july_2018_article_05.jpg', width='242', height='162')
											.media-body
												a(href='https://www.kateraworth.com/doughnut/', target="_blank")
													h4.media-heading
														| Donut Economics – The goal of Thriving Balance
												p
													| Kate Raworth, a self-described renegade economist recently published “Doughnut Economics: Seven Ways to Think Like a 21st Century Economist”. It is a fresh perspective on what it means to have a thriving economy.
												a.card--portfolio-link(href="https://www.kateraworth.com/doughnut/", target="_blank") > Here is a link to her blog
												br
												a.card--portfolio-link(href="https://www.ted.com/talks/kate_raworth_a_healthy_economy_should_be_designed_to_thrive_not_grow", target="_blank") > ... and here is her TED Talk
									#may.tab-pane.fade.in.hidden-absolute-xs
										.media
											div.pull-left
												img.media-object.img-responsive(alt='', src='http://arguswealth.bm/emails/images/newsletter/may_2018/web_may_2018_article_01.jpg', width='242', height='162')
											.media-body
												div
													h4.media-heading
														| Do You Need More Time?
												p
													strong Source: Forbes.com &amp; Productivity501.com
													|  – One thing we all have in common is 24 hours in a day. How we choose to spend that time is entirely up to us. A good way to be purposeful in how we allocate such a precious resource is to consider a review of how we are currently spending our time, called a time audit.
												a.card--portfolio-link(href="https://www.forbes.com/sites/francesbooth/2015/03/27/save-yourself-time-with-a-time-audit/#261cc0d4a0d6" style="margin-right:30px;", target="_blank") > Read More from Forbes.com
												a.card--portfolio-link(href="http://www.productivity501.com/how-to-do-a-time-audit/7043/", target="_blank") > Read More from Productivity501.com
										hr
										.media
											a.pull-left(href='https://hbr.org/2018/01/what-self-awareness-really-is-and-how-to-cultivate-it?referral=03758&cm_vc=rr_item_page.top_right', target="_blank")
												img.media-object.img-responsive(alt='', src='http://arguswealth.bm/emails/images/newsletter/may_2018/web_may_2018_article_02.jpg', width='242', height='162')
											.media-body
												a(href='https://hbr.org/2018/01/what-self-awareness-really-is-and-how-to-cultivate-it?referral=03758&cm_vc=rr_item_page.top_right', target="_blank")
													h4.media-heading
														| Managing Yourself - What is Self Awareness?
												p
													strong Source: Harvard Business Review
													|  – Current research suggests that managers who truly know who they are make better decisions, build stronger relationships and are more effective leaders. Self-knowledge is a skill, and can be learned. An article from Harvard Business Review discusses the different types of self-awareness and how to see ourselves more clearly.
												a.card--portfolio-link(href="https://hbr.org/2018/01/what-self-awareness-really-is-and-how-to-cultivate-it?referral=03758&cm_vc=rr_item_page.top_right", target="_blank") > Read More
										hr
										.media
											a.pull-left(href='https://www.inc.com/christina-desmarais/why-reading-books-should-be-your-priority-according-to-science.html?cid=landermore', target="_blank")
												img.media-object.img-responsive(alt='', src='http://arguswealth.bm/emails/images/newsletter/may_2018/web_may_2018_article_03.jpg', width='242', height='162')
											.media-body
												a(href='https://www.inc.com/christina-desmarais/why-reading-books-should-be-your-priority-according-to-science.html?cid=landermore', target="_blank")
													h4.media-heading
														| Turn Off Netflix and Open a Book
												p
													strong Source: Inc.com
													|  – Need more encouragement to read more? How about having something in common with very successful people and living longer?
												a.card--portfolio-link(href="https://www.inc.com/christina-desmarais/why-reading-books-should-be-your-priority-according-to-science.html?cid=landermore", target="_blank") > Read More
										hr
										.media
											a.pull-left(href='https://www.inc.com/marcel-schwantes/how-can-you-tell-a-great-leader-when-you-see-one-look-for-this-1-uncommon-sign.html', target="_blank")
												img.media-object.img-responsive(alt='', src='http://arguswealth.bm/emails/images/newsletter/may_2018/web_may_2018_article_04.jpg', width='242', height='162')
											.media-body
												a(href='https://www.inc.com/marcel-schwantes/how-can-you-tell-a-great-leader-when-you-see-one-look-for-this-1-uncommon-sign.html', target="_blank")
													h4.media-heading
														| Leadership from the Core
												p
													strong Source: Inc.com
													|  – Maintaining integrity is easy when there is no downside. True character is exposed when we are faced with decisions that have a negative impact. The person of character has no difficulty making this decision, and this is what defines great leaders.
												a.card--portfolio-link(href="https://www.inc.com/marcel-schwantes/how-can-you-tell-a-great-leader-when-you-see-one-look-for-this-1-uncommon-sign.html" , target="_blank") > Read More
										hr
										.media
											a.pull-left(href='https://www.weforum.org/agenda/2018/04/blockchain-survive-backlash-social-purpose-jem-bendall/', target="_blank")
												img.media-object.img-responsive(alt='', src='http://arguswealth.bm/emails/images/newsletter/may_2018/web_may_2018_article_05.jpg', width='242', height='162')
											.media-body
												a(href='https://www.weforum.org/agenda/2018/04/blockchain-survive-backlash-social-purpose-jem-bendall/', target="_blank")
													h4.media-heading
														| A Growing Backlash to Blockchain
												p
													strong Source: World Economic Forum
													|  – At its most basic level, a blockchain is a ledger system that uses a network of multiple third party computer systems to process, store and maintain a fully transparent record of individual transactions. The power required to run these computer systems and “mine” for new coins emit as much carbon dioxide as a small country. Jem Bendell, the founding director for the Institute for Leadership and Sustainability discusses the issues and some possible solutions.
												a.card--portfolio-link(href="https://www.weforum.org/agenda/2018/04/blockchain-survive-backlash-social-purpose-jem-bendall/", target="_blank") > Read More
									#april.tab-pane.fade.in.hidden-absolute-xs
										.media
											a.pull-left(href='https://www.thriveglobal.com/stories/26998-how-to-rewire-your-brain-for-massive-success-according-to-neuroscience', target="_blank")
												img.media-object.img-responsive(alt='', src='images/journal/journal-thumb-apr-01.jpg', width='242', height='162')
											.media-body
												a(href='https://www.thriveglobal.com/stories/26998-how-to-rewire-your-brain-for-massive-success-according-to-neuroscience', target="_blank")
													h4.media-heading
														| Wellness – How to Improve Your Brain’s Performance
												p
													strong Source: thriveglobal.com
													|  – You have the power in you to improve your brain’s performance through mental training that will impact your overall performance. Start developing your brain to make it an essential tool to achieve more success.
										hr
										.media
											a.pull-left(href='https://www.investopedia.com/articles/07/ben_graham.asp#ixzz5AaEU0bcn', target="_blank")
												img.media-object.img-responsive(alt='', src='images/journal/journal-thumb-apr-02.jpg', width='242', height='162')
											.media-body
												a(href='https://www.investopedia.com/articles/07/ben_graham.asp#ixzz5AaEU0bcn', target="_blank")
													h4.media-heading
														| Using Fear and Greed to Make Great Investment Decisions
												p
													strong Source: Investopedia
													|  – Lessons from a pioneer of financial analysis – Benjamin Graham.
										hr
										.media
											a.pull-left(href='https://hbr.org/2018/03/here-are-all-the-reasons-its-a-bad-idea-to-let-a-few-tech-companies-monopolize-our-data', target="_blank")
												img.media-object.img-responsive(alt='', src='images/journal/journal-thumb-apr-03.jpg', width='242', height='162')
											.media-body
												a(href='https://hbr.org/2018/03/here-are-all-the-reasons-its-a-bad-idea-to-let-a-few-tech-companies-monopolize-our-data', target="_blank")
													h4.media-heading
														| The Impact of Consolidating Data in a Few Large Tech Companies
												p
													strong Source: Harvard Business Review
													|  – With Facebook being headline news because of the data obtained by Cambridge Analytica and the inevitable collection of large amounts of our data, here is why we don’t want this data to be collected by only a few large entities.
										hr
										.media
											a.pull-left(href='https://www.inc.com/marcel-schwantes/a-young-steve-jobs-once-gave-this-priceless-leadership-lesson-here-it-is-in-a-few-sentences.html?cid=hmhero', target="_blank")
												img.media-object.img-responsive(alt='', src='images/journal/journal-thumb-apr-04.jpg', width='242', height='162')
											.media-body
												a(href='https://www.inc.com/marcel-schwantes/a-young-steve-jobs-once-gave-this-priceless-leadership-lesson-here-it-is-in-a-few-sentences.html?cid=hmhero', target="_blank")
													h4.media-heading
														| Leadership Needs a Compelling Vision
												p
													strong Source: inc.com
													|  – Here is a link and an article on a young (pre-turtle neck) Steve Jobs on his views of leadership and the importance of having everyone feel emotionally invested in the vision.
										hr
										.media
											a.pull-left(href='http://www.businessinsider.com/how-life-earth-would-change-without-moon-disappeared-2018-3', target="_blank")
												img.media-object.img-responsive(alt='', src='images/journal/journal-thumb-apr-05.jpg', width='242', height='162')
											.media-body
												a(href='http://www.businessinsider.com/how-life-earth-would-change-without-moon-disappeared-2018-3', target="_blank")
													h4.media-heading
														| Life Without the Moon
												p
													strong Source: Business Insider
													|  – Here is a departure from our normal reading. It is a short and fascinating video on what would happen to the Earth if we did not have our moon. It is very telling in that it shows how delicate the balance of our world is and impact of taking things for granted.
				.row
					.col.text-center
						a.btn.btn-primary.call-to-action(href='https://clients.arguswealth.bm') Subscribe to the Monthly Journal
