.umb-grid
	.grid-section
		.site--banner.site--banner-compact(data-js="site-banner", role="banner")
			.container
				.row
					.col-sm-12
						.site--banner-wrap
							img.site--banner-img.hidden(src="images/awm-the-journal-bg.jpg", alt="The Journal", role="img")
							h1.site--banner-heading(role="heading")
								| The Journal
							//- p.site--banner-content Find out how we are making a difference in our community and in our company.
		.site--content
			.container
				.row
					.col-sm-12
						.site--content-journals.a-g-tabs
							.responsive-tabs-container.accordion-xs
								ul.nav.nav-tabs.responsive-tabs
									li.active
										a(data-toggle='tab', href='#april') April
									li
										a(data-toggle='tab', href='#march') March
									li
										a(data-toggle='tab', href='#january') January
									li
										a(data-toggle='tab', href='#december') December
								.tab-content
									#april.tab-pane.fade.in.active.hidden-absolute-xs
										.media
											a.pull-left(href='https://www.thriveglobal.com/stories/26998-how-to-rewire-your-brain-for-massive-success-according-to-neuroscience')
												img.media-object.img-responsive(alt='', src='images/journal/journal-thumb-apr-01.jpg', width='242', height='162')
											.media-body
												a(href='https://www.thriveglobal.com/stories/26998-how-to-rewire-your-brain-for-massive-success-according-to-neuroscience')
													h4.media-heading
														| Wellness – How to Improve Your Brain’s Performance
												p
													strong Source: thriveglobal.com
													|  – You have the power in you to improve your brain’s performance through mental training that will impact your overall performance. Start developing your brain to make it an essential tool to achieve more success.
										hr
										.media
											a.pull-left(href='https://www.investopedia.com/articles/07/ben_graham.asp#ixzz5AaEU0bcn')
												img.media-object.img-responsive(alt='', src='images/journal/journal-thumb-apr-02.jpg', width='242', height='162')
											.media-body
												a(href='https://www.investopedia.com/articles/07/ben_graham.asp#ixzz5AaEU0bcn')
													h4.media-heading
														| Using Fear and Greed to Make Great Investment Decisions
												p
													strong Source: Investopedia
													|  – Lessons from a pioneer of financial analysis – Benjamin Graham.
										hr
										.media
											a.pull-left(href='https://hbr.org/2018/03/here-are-all-the-reasons-its-a-bad-idea-to-let-a-few-tech-companies-monopolize-our-data')
												img.media-object.img-responsive(alt='', src='images/journal/journal-thumb-apr-03.jpg', width='242', height='162')
											.media-body
												a(href='https://hbr.org/2018/03/here-are-all-the-reasons-its-a-bad-idea-to-let-a-few-tech-companies-monopolize-our-data')
													h4.media-heading
														| The Impact of Consolidating Data in a Few Large Tech Companies
												p
													strong Source: Harvard Business Review
													|  – With Facebook being headline news because of the data obtained by Cambridge Analytica and the inevitable collection of large amounts of our data, here is why we don’t want this data to be collected by only a few large entities.
										hr
										.media
											a.pull-left(href='https://www.inc.com/marcel-schwantes/a-young-steve-jobs-once-gave-this-priceless-leadership-lesson-here-it-is-in-a-few-sentences.html?cid=hmhero')
												img.media-object.img-responsive(alt='', src='images/journal/journal-thumb-apr-04.jpg', width='242', height='162')
											.media-body
												a(href='https://www.inc.com/marcel-schwantes/a-young-steve-jobs-once-gave-this-priceless-leadership-lesson-here-it-is-in-a-few-sentences.html?cid=hmhero')
													h4.media-heading
														| Leadership Needs a Compelling Vision
												p
													strong Source: inc.com
													|  – Here is a link and an article on a young (pre-turtle neck) Steve Jobs on his views of leadership and the importance of having everyone feel emotionally invested in the vision.
										hr
										.media
											a.pull-left(href='http://www.businessinsider.com/how-life-earth-would-change-without-moon-disappeared-2018-3')
												img.media-object.img-responsive(alt='', src='images/journal/journal-thumb-apr-05.jpg', width='242', height='162')
											.media-body
												a(href='http://www.businessinsider.com/how-life-earth-would-change-without-moon-disappeared-2018-3')
													h4.media-heading
														| Life Without the Moon
												p
													strong Source: Business Insider
													|  – Here is a departure from our normal reading. It is a short and fascinating video on what would happen to the Earth if we did not have our moon. It is very telling in that it shows how delicate the balance of our world is and impact of taking things for granted.
									#march.tab-pane.fade.in.hidden-absolute-xs
										.media
											a.pull-left(href='http://www.thriveglobal.com/stories/21895-8-morning-habits-of-the-most-successful-people')
												img.media-object.img-responsive(alt='', src='images/journal-thumb-mar-01.jpg', width='242', height='162')
											.media-body
												a(href='http://www.thriveglobal.com/stories/21895-8-morning-habits-of-the-most-successful-people')
													h4.media-heading
														| How Do You Wake Up In The Morning?
												p
													strong Hamilton, Bermuda, (March 01, 2018)
													|  – Here is a list of morning habits that some of the most successful people embrace. Maybe we can learn something.
										hr
										.media
											a.pull-left(href='http://www.weforum.org/agenda/2016/01/what-is-the-fourth-industrial-revolution')
												img.media-object.img-responsive(alt='', src='images/journal-thumb-mar-02.jpg', width='242', height='162')
											.media-body
												a(href='http://www.weforum.org/agenda/2016/01/what-is-the-fourth-industrial-revolution')
													h4.media-heading
														| “The Future Is Already Here – It's Just Not Very Evenly Distributed” – Novelist William Gibson
												p
													strong Hamilton, Bermuda, (March 01, 2018)
													|  – We have entered the fourth technological revolution which is bringing forward new ways that technology will impact our lives and generating philosophical questions on how this will impact our economic, social and political systems.
										hr
										.media
											a.pull-left(href='http://www.linkedin.com/pulse/lead-emotional-intelligence-6-ways-doug-pederson-head-dudley/?trk=eml-email_feed_ecosystem_digest_01-recommended_articles-7-Unknown&midToken=AQFMIW1tu2eZag&fromEmail=fromEmail&ut=0IYfuM--AkbU81')
												img.media-object.img-responsive(alt='', src='images/journal-thumb-mar-03.jpg', width='242', height='162')
											.media-body
												a(href='http://www.linkedin.com/pulse/lead-emotional-intelligence-6-ways-doug-pederson-head-dudley/?trk=eml-email_feed_ecosystem_digest_01-recommended_articles-7-Unknown&midToken=AQFMIW1tu2eZag&fromEmail=fromEmail&ut=0IYfuM--AkbU81')
													h4.media-heading
														| One Man Can Make a Difference, But a Team Can Make a Miracle
												p
													strong Hamilton, Bermuda, (March 01, 2018)
													|  – Here is an article that discusses the relevance of emotional intelligence for leaders and how Doug Pederson, the head coach of the Philadelphia Eagles, employed his emotional intelligence to lead his team to with the Superbowl. It has ways that all of us can incorporate emotional intelligence to lead our teams to success.
										hr
										.media
											a.pull-left(href='http://www.inc.com/jeff-haden/want-to-be-a-great-leader-be-more-of-who-you-really-are-not-less.html?cid=hmside2')
												img.media-object.img-responsive(alt='', src='images/journal-thumb-mar-04.jpg', width='242', height='162')
											.media-body
												a(href='http://www.inc.com/jeff-haden/want-to-be-a-great-leader-be-more-of-who-you-really-are-not-less.html?cid=hmside2')
													h4.media-heading
														| Want To Be a Better Leader?
												p
													strong Hamilton, Bermuda, (March 01, 2018)
													|  – The theory is easy, but the practice is hard. Just be a better version of yourself.
										hr
										.media
											a.pull-left(href='http://hbr.org/2018/01/why-we-should-be-disagreeing-more-at-work')
												img.media-object.img-responsive(alt='', src='images/journal-thumb-mar-05.jpg', width='242', height='162')
											.media-body
												a(href='http://hbr.org/2018/01/why-we-should-be-disagreeing-more-at-work')
													h4.media-heading
														| Clashing With a Colleague – Good, This May Be Just What You Need
												p
													strong Hamilton, Bermuda, (March 01, 2018)
													|  – Agreeing is always easier in the short run. While conflict may be uncomfortable, it can be a source of innovation and help to mitigate risks. Here is an article from the Harvard Business Review on how we can use conflict as an opportunity to learn.
									#january.tab-pane.fade.in.hidden-absolute-xs
										.media
											a.pull-left(href='http://www.thriveglobal.com/stories/17881-5-things-worth-spending-your-money-on-from-a-self-proclaimed-cheapskate')
												img.media-object.img-responsive(alt='', src='images/journal-thumb-jan-01.jpg', width='242', height='162')
											.media-body
												a(href='http://www.thriveglobal.com/stories/17881-5-things-worth-spending-your-money-on-from-a-self-proclaimed-cheapskate')
													h4.media-heading
														| 5 Things That Are Worth Spending Money On
												p
													strong Hamilton, Bermuda, (January 01, 2018)
													|  – In an era when everyone is telling us to go back to a simple life and that our enjoyment does not come from things, here are some suggestions purchased that actually do make sense.
										hr
										.media
											a.pull-left(href='http://www.linkedin.com/pulse/uncomfortable-deeds-pay-off-forever-dr-travis-bradberry/')
												img.media-object.img-responsive(alt='', src='images/journal-thumb-jan-02.jpg', width='242', height='162')
											.media-body
												a(href='http://www.linkedin.com/pulse/uncomfortable-deeds-pay-off-forever-dr-travis-bradberry/')
													h4.media-heading
														| The Long-Term – 10 Uncomfortable Deeds That Will Pay Off Forever
												p
													strong Hamilton, Bermuda, (January 01, 2018)
													|  –  We all know there are some things that are either difficult or uncomfortable, but that we know are good for ourselves. T.S. Eliot was one of the first to suggest the benefits of stepping outside our comfort zone. Research now shows there is an optimal point of discomfort. As we put together our list of resolutions to improve our lives in 2018, here is a list of 10 actions that will have a long-term benefit.
										hr
										.media
											a.pull-left(href='http://www.businessinsider.sg/the-swedish-co-founder-of-bitcoin-com-has-sold-all-his-bitcoins/')
												img.media-object.img-responsive(alt='', src='images/journal-thumb-jan-03.jpg', width='242', height='162')
											.media-body
												a(href='http://www.businessinsider.sg/the-swedish-co-founder-of-bitcoin-com-has-sold-all-his-bitcoins/')
													h4.media-heading
														| Two Perspectives on Bitcoin
												p
													strong Hamilton, Bermuda, (January 01, 2018)
													|  – It is tempting to get caught up in the fury of runaway profits and quick easy money. Here are an article and a video that provide a healthy dose of reality for those of us who are curious about this digital currency.
										hr
										.media
											a.pull-left(href='http://www.nytimes.com/interactive/2017/12/19/sunday-review/2017-year-in-pictures.html')
												img.media-object.img-responsive(alt='', src='images/journal-thumb-jan-04.jpg', width='242', height='162')
											.media-body
												a(href='http://www.nytimes.com/interactive/2017/12/19/sunday-review/2017-year-in-pictures.html')
													h4.media-heading
														| Just for Fun
												p
													strong Hamilton, Bermuda, (January 01, 2018)
													|  – Here is a review of some of the best pictures of 2017 from the New York Times.
										hr
										.media
											a.pull-left(href='http://hbr.org/2015/09/how-making-time-for-books-made-me-feel-less-busy?referral=03759&cm_vc=rr_item_page.bottom')
												img.media-object.img-responsive(alt='', src='images/journal-thumb-jan-05.jpg', width='242', height='162')
											.media-body
												a(href='http://hbr.org/2015/09/how-making-time-for-books-made-me-feel-less-busy?referral=03759&cm_vc=rr_item_page.bottom')
													h4.media-heading
														| How to Feel Less Busy
												p
													strong Hamilton, Bermuda, (February 01, 2017)
													|  – We all have so many things that pull at our attention and we often feel that in order to be productive, we must be constantly busy. Our brains are hardwired to be drawn to new information, so many of us feel the impact of constant digital overload. Reading is a way to give our brain a rest, to feel less stressed and have more energy. So open a book and enjoy.
									#december.tab-pane.fade.in.hidden-absolute-xs
										.media
											a.pull-left(href='http://thereformedbroker.com/2017/11/27/it-just-got-real/')
												img.media-object.img-responsive(alt='', src='images/journal-thumb-dec-01.jpg', width='242', height='162')
											.media-body
												a(href='http://thereformedbroker.com/2017/11/27/it-just-got-real/')
													h4.media-heading
														| Bitcoin: The Making of a Mania
												p
													strong Hamilton, Bermuda, (December 01, 2017)
													|  – Here is a list of morning habits that some of the most successful people embrace. Maybe we can learn something.
										hr
										.media
											a.pull-left(href='http://www.bbc.co.uk/news/resources/idt-sh/The_disruptors_money_changing')
												img.media-object.img-responsive(alt='', src='images/journal-thumb-dec-02.jpg', width='242', height='162')
											.media-body
												a(href='http://www.bbc.co.uk/news/resources/idt-sh/The_disruptors_money_changing')
													h4.media-heading
														| The Disruptors on why we will no longer need to carry Cash
												p
													strong Hamilton, Bermuda, (December 01, 2017)
													|  –  Everything we know about money is changing. Will we end up smiling?
										hr
										.media
											a.pull-left(href='http://www.investopedia.com/articles/retirement/06/tips55to64.asp?utm_source=personalized&utm_campaign=dfp-note-retire&utm_term=11426332&utm_medium=email')
												img.media-object.img-responsive(alt='', src='images/journal-thumb-dec-03.jpg', width='242', height='162')
											.media-body
												a(href='http://www.investopedia.com/articles/retirement/06/tips55to64.asp?utm_source=personalized&utm_campaign=dfp-note-retire&utm_term=11426332&utm_medium=email')
													h4.media-heading
														| Top 3 Retirement Savings Tips for 55-to-64-Year-Olds
												p
													strong Hamilton, Bermuda, (December 01, 2017)
													|  – Ensuring we are on track with our retirement planning is a pathway to peace of mind. Here are some ideas to consider.
										hr
										.media
											a.pull-left(href='http://www.thriveglobal.com/stories/15834-how-to-be-happy')
												img.media-object.img-responsive(alt='', src='images/journal-thumb-dec-04.jpg', width='242', height='162')
											.media-body
												a(href='http://www.thriveglobal.com/stories/15834-how-to-be-happy')
													h4.media-heading
														| Top 3 Retirement Savings Tips for 55-to-64-Year-Olds
												p
													strong Hamilton, Bermuda, (December 01, 2017)
													|  – This time of year with all the stress of meeting expectations for the holidays and finishing up those projects before the end of the year, who does not want to find a little more enjoyment in their life?
										hr
										.media
											a.pull-left(href='http://www.linkedin.com/pulse/how-13-year-old-can-teach-you-rethink-failure-patrick-leddin-ph-d-/?trk=eml-email_feed_ecosystem_digest_01-recommended_articles-13-Unknown&midToken=AQGFyMNWExpdrA&fromEmail=fromEmail&ut=22WQpFE_-8n801')
												img.media-object.img-responsive(alt='', src='images/journal-thumb-dec-05.jpg', width='242', height='162')
											.media-body
												a(href='http://www.linkedin.com/pulse/how-13-year-old-can-teach-you-rethink-failure-patrick-leddin-ph-d-/?trk=eml-email_feed_ecosystem_digest_01-recommended_articles-13-Unknown&midToken=AQGFyMNWExpdrA&fromEmail=fromEmail&ut=22WQpFE_-8n801')
													h4.media-heading
														| This 13-Year-Old Girl Will Challenge You to Rethink Failure
												p
													strong Hamilton, Bermuda, (January 01, 2016)
													|  – Get ready to be challenged. Lucy Westlake will make you rethink failure.
									#november.tab-pane.fade.in.hidden-absolute-xs
										.media
											a.pull-left(href='http://www.forbes.com/sites/christinecomaford/2017/10/15/the-secret-to-controlling-your-emotions-before-they-control-you')
												img.media-object.img-responsive(alt='', src='images/journal-thumb-nov-01.jpg', width='242', height='162')
											.media-body
												a(href='http://www.forbes.com/sites/christinecomaford/2017/10/15/the-secret-to-controlling-your-emotions-before-they-control-you')
													h4.media-heading
														| The Secret To Controlling Your Emotions – Before They Control You
												p
													strong Hamilton, Bermuda, (November 01, 2017)
													|  – Here is a list of morning habits that some of the most successful people embrace. Maybe we can learn something.
										hr
										.media
											a.pull-left(href='http://www.economist.com/blogs/economist-explains/2017/10/economist-explains-17')
												img.media-object.img-responsive(alt='', src='images/journal-thumb-nov-02.jpg', width='242', height='162')
											.media-body
												a(href='http://www.economist.com/blogs/economist-explains/2017/10/economist-explains-17')
													h4.media-heading
														| Why the Dutch will not be in the 2018 World Cup
												p
													strong Hamilton, Bermuda, (November 01, 2017)
													|  – We have entered the fourth technological revolution which is bringing forward new ways that technology will impact our lives and generating philosophical questions on how this will impact our economic, social and political systems.
										hr
										.media
											a.pull-left(href='http://www.wsj.com/articles/how-reese-witherspoon-is-changing-hollywood-for-women-1509548154')
												img.media-object.img-responsive(alt='', src='images/journal-thumb-nov-03.jpg', width='242', height='162')
											.media-body
												a(href='http://www.wsj.com/articles/how-reese-witherspoon-is-changing-hollywood-for-women-1509548154')
													h4.media-heading
														| The Entertainment Innovator: Reese Witherspoon
												p
													strong Hamilton, Bermuda, (November 01, 2017)
													|  – Here is an article that discusses the relevance of emotional intelligence for leaders and how Doug Pederson, the head coach of the Philadelphia Eagles, employed his emotional intelligence to lead his team to with the Superbowl. It has ways that all of us can incorporate emotional intelligence to lead our teams to success.
										hr
										.media
											a.pull-left(href='http://www.economist.com/blogs/economist-explains/2017/10/economist-explains-22')
												img.media-object.img-responsive(alt='', src='images/journal-thumb-nov-04.jpg', width='242', height='162')
											.media-body
												a(href='http://www.economist.com/blogs/economist-explains/2017/10/economist-explains-22')
													h4.media-heading
														| Did you enjoy the extra hour of sleep last weekend? Finland wants to do away with Daylight Savings Time
												p
													strong Hamilton, Bermuda, (November 01, 2017)
													|  – Here is an article that discusses the relevance of emotional intelligence for leaders and how Doug Pederson, the head coach of the Philadelphia Eagles, employed his emotional intelligence to lead his team to with the Superbowl. It has ways that all of us can incorporate emotional intelligence to lead our teams to success.
										hr
										.media
											a.pull-left(href='http://www.inc.com/video/adam-garone/cofounder-movember-kept-list-people-who-laughed-to-prove-them-wrong.html')
												img.media-object.img-responsive(alt='', src='images/journal-thumb-nov-05.jpg', width='242', height='162')
											.media-body
												a(href='http://www.inc.com/video/adam-garone/cofounder-movember-kept-list-people-who-laughed-to-prove-them-wrong.html')
													h4.media-heading
														| Movember – Raising Money for Charity
												p
													strong Hamilton, Bermuda, (November 01, 2017)
													|  – Here is an article that discusses the relevance of emotional intelligence for leaders and how Doug Pederson, the head coach of the Philadelphia Eagles, employed his emotional intelligence to lead his team to with the Superbowl. It has ways that all of us can incorporate emotional intelligence to lead our teams to success.