.umb-grid
	.grid-section
		.site--banner.site--banner-compact(data-js="site-banner", role="banner")
			.container
				.row
					.col-sm-12
						.site--banner-wrap
							img.site--banner-img.hidden(src="images/awm-the-journal-bg.jpg", alt="The Journal", role="img")
							h1.site--banner-heading(role="heading")
								| The Journal
							//- p.site--banner-content Find out how we are making a difference in our community and in our company.
		.site--content
			.container
				.row
					.col-sm-12
						.site--content-journals.a-g-tabs
							.responsive-tabs-container.accordion-xs
								ul.nav.nav-tabs.responsive-tabs
									li.active
										a(data-toggle='tab', href='#may') May
									li
										a(data-toggle='tab', href='#april') April
									li
										a(data-toggle='tab', href='#march') March
									li
										a(data-toggle='tab', href='#january') January
								.tab-content
									#may.tab-pane.fade.in.active.hidden-absolute-xs
										.media
											div.pull-left
												img.media-object.img-responsive(alt='', src='http://arguswealth.bm/emails/images/newsletter/may_2018/web_may_2018_article_01.jpg', width='242', height='162')
											.media-body
												div
													h4.media-heading
														| Do You Need More Time?
												p
													strong Source: Forbes.com &amp; Productivity501.com
													|  – One thing we all have in common is 24 hours in a day. How we choose to spend that time is entirely up to us. A good way to be purposeful in how we allocate such a precious resource is to consider a review of how we are currently spending our time, called a time audit.
												a.card--portfolio-link(href="https://www.forbes.com/sites/francesbooth/2015/03/27/save-yourself-time-with-a-time-audit/#261cc0d4a0d6" style="margin-right:30px;", target="_blank") > Read More from Forbes.com
												a.card--portfolio-link(href="http://www.productivity501.com/how-to-do-a-time-audit/7043/", target="_blank") > Read More from Productiviy501.com
										hr
										.media
											a.pull-left(href='https://hbr.org/2018/01/what-self-awareness-really-is-and-how-to-cultivate-it?referral=03758&cm_vc=rr_item_page.top_right', target="_blank")
												img.media-object.img-responsive(alt='', src='http://arguswealth.bm/emails/images/newsletter/may_2018/web_may_2018_article_02.jpg', width='242', height='162')
											.media-body
												a(href='https://hbr.org/2018/01/what-self-awareness-really-is-and-how-to-cultivate-it?referral=03758&cm_vc=rr_item_page.top_right', target="_blank")
													h4.media-heading
														| Managing Yourself - What is Self Awareness?
												p
													strong Source: Harvard Business Review
													|  – Current research suggests that managers who truly know who they are make better decisions, build stronger relationships and are more effective leaders. Self-knowledge is a skill, and can be learned. An article from Harvard Business Review discusses the different types of self-awareness and how to see ourselves more clearly.
												a.card--portfolio-link(href="https://hbr.org/2018/01/what-self-awareness-really-is-and-how-to-cultivate-it?referral=03758&cm_vc=rr_item_page.top_right", target="_blank") > Read More
										hr
										.media
											a.pull-left(href='https://www.inc.com/christina-desmarais/why-reading-books-should-be-your-priority-according-to-science.html?cid=landermore', target="_blank")
												img.media-object.img-responsive(alt='', src='http://arguswealth.bm/emails/images/newsletter/may_2018/web_may_2018_article_03.jpg', width='242', height='162')
											.media-body
												a(href='https://www.inc.com/christina-desmarais/why-reading-books-should-be-your-priority-according-to-science.html?cid=landermore', target="_blank")
													h4.media-heading
														| Turn Off Netflix and Open a Book
												p
													strong Source: Inc.com
													|  – Need more encouragement to read more? How about having something in common with very successful people and living longer?
												a.card--portfolio-link(href="https://www.inc.com/christina-desmarais/why-reading-books-should-be-your-priority-according-to-science.html?cid=landermore", target="_blank") > Read More
										hr
										.media
											a.pull-left(href='https://www.inc.com/marcel-schwantes/how-can-you-tell-a-great-leader-when-you-see-one-look-for-this-1-uncommon-sign.html', target="_blank")
												img.media-object.img-responsive(alt='', src='http://arguswealth.bm/emails/images/newsletter/may_2018/web_may_2018_article_04.jpg', width='242', height='162')
											.media-body
												a(href='https://www.inc.com/marcel-schwantes/how-can-you-tell-a-great-leader-when-you-see-one-look-for-this-1-uncommon-sign.html', target="_blank")
													h4.media-heading
														| Leadership from the Core
												p
													strong Source: Inc.com
													|  – Maintaining integrity is easy when there is no downside. True character is exposed when we are faced with decisions that have a negative impact. The person of character has no difficulty making this decision, and this is what defines great leaders.
												a.card--portfolio-link(href="https://www.inc.com/marcel-schwantes/how-can-you-tell-a-great-leader-when-you-see-one-look-for-this-1-uncommon-sign.html" , target="_blank") > Read More
										hr
										.media
											a.pull-left(href='https://www.weforum.org/agenda/2018/04/blockchain-survive-backlash-social-purpose-jem-bendall/', target="_blank")
												img.media-object.img-responsive(alt='', src='http://arguswealth.bm/emails/images/newsletter/may_2018/web_may_2018_article_05.jpg', width='242', height='162')
											.media-body
												a(href='https://www.weforum.org/agenda/2018/04/blockchain-survive-backlash-social-purpose-jem-bendall/', target="_blank")
													h4.media-heading
														| A Growing Backlash to Blockchain
												p
													strong Source: World Economic Forum
													|  – At its most basic level, a blockchain is a ledger system that uses a network of multiple third party computer systems to process, store and maintain a fully transparent record of individual transactions. The power required to run these computer systems and “mine” for new coins emit as much carbon dioxide as a small country. Jem Bendell, the founding director for the Institute for Leadership and Sustainability discusses the issues and some possible solutions.
												a.card--portfolio-link(href="https://www.weforum.org/agenda/2018/04/blockchain-survive-backlash-social-purpose-jem-bendall/", target="_blank") > Read More
									#april.tab-pane.fade.in.hidden-absolute-xs
										.media
											a.pull-left(href='https://www.thriveglobal.com/stories/26998-how-to-rewire-your-brain-for-massive-success-according-to-neuroscience', target="_blank")
												img.media-object.img-responsive(alt='', src='images/journal/journal-thumb-apr-01.jpg', width='242', height='162')
											.media-body
												a(href='https://www.thriveglobal.com/stories/26998-how-to-rewire-your-brain-for-massive-success-according-to-neuroscience', target="_blank")
													h4.media-heading
														| Wellness – How to Improve Your Brain’s Performance
												p
													strong Source: thriveglobal.com
													|  – You have the power in you to improve your brain’s performance through mental training that will impact your overall performance. Start developing your brain to make it an essential tool to achieve more success.
										hr
										.media
											a.pull-left(href='https://www.investopedia.com/articles/07/ben_graham.asp#ixzz5AaEU0bcn', target="_blank")
												img.media-object.img-responsive(alt='', src='images/journal/journal-thumb-apr-02.jpg', width='242', height='162')
											.media-body
												a(href='https://www.investopedia.com/articles/07/ben_graham.asp#ixzz5AaEU0bcn', target="_blank")
													h4.media-heading
														| Using Fear and Greed to Make Great Investment Decisions
												p
													strong Source: Investopedia
													|  – Lessons from a pioneer of financial analysis – Benjamin Graham.
										hr
										.media
											a.pull-left(href='https://hbr.org/2018/03/here-are-all-the-reasons-its-a-bad-idea-to-let-a-few-tech-companies-monopolize-our-data', target="_blank")
												img.media-object.img-responsive(alt='', src='images/journal/journal-thumb-apr-03.jpg', width='242', height='162')
											.media-body
												a(href='https://hbr.org/2018/03/here-are-all-the-reasons-its-a-bad-idea-to-let-a-few-tech-companies-monopolize-our-data', target="_blank")
													h4.media-heading
														| The Impact of Consolidating Data in a Few Large Tech Companies
												p
													strong Source: Harvard Business Review
													|  – With Facebook being headline news because of the data obtained by Cambridge Analytica and the inevitable collection of large amounts of our data, here is why we don’t want this data to be collected by only a few large entities.
										hr
										.media
											a.pull-left(href='https://www.inc.com/marcel-schwantes/a-young-steve-jobs-once-gave-this-priceless-leadership-lesson-here-it-is-in-a-few-sentences.html?cid=hmhero', target="_blank")
												img.media-object.img-responsive(alt='', src='images/journal/journal-thumb-apr-04.jpg', width='242', height='162')
											.media-body
												a(href='https://www.inc.com/marcel-schwantes/a-young-steve-jobs-once-gave-this-priceless-leadership-lesson-here-it-is-in-a-few-sentences.html?cid=hmhero', target="_blank")
													h4.media-heading
														| Leadership Needs a Compelling Vision
												p
													strong Source: inc.com
													|  – Here is a link and an article on a young (pre-turtle neck) Steve Jobs on his views of leadership and the importance of having everyone feel emotionally invested in the vision.
										hr
										.media
											a.pull-left(href='http://www.businessinsider.com/how-life-earth-would-change-without-moon-disappeared-2018-3', target="_blank")
												img.media-object.img-responsive(alt='', src='images/journal/journal-thumb-apr-05.jpg', width='242', height='162')
											.media-body
												a(href='http://www.businessinsider.com/how-life-earth-would-change-without-moon-disappeared-2018-3', target="_blank")
													h4.media-heading
														| Life Without the Moon
												p
													strong Source: Business Insider
													|  – Here is a departure from our normal reading. It is a short and fascinating video on what would happen to the Earth if we did not have our moon. It is very telling in that it shows how delicate the balance of our world is and impact of taking things for granted.
									#march.tab-pane.fade.in.hidden-absolute-xs
										.media
											a.pull-left(href='http://www.thriveglobal.com/stories/21895-8-morning-habits-of-the-most-successful-people', target="_blank")
												img.media-object.img-responsive(alt='', src='images/journal-thumb-mar-01.jpg', width='242', height='162')
											.media-body
												a(href='http://www.thriveglobal.com/stories/21895-8-morning-habits-of-the-most-successful-people', target="_blank")
													h4.media-heading
														| How Do You Wake Up In The Morning?
												p
													strong Source: thriveglobal.com
													|  – Here is a list of morning habits that some of the most successful people embrace. Maybe we can learn something.
										hr
										.media
											a.pull-left(href='http://www.weforum.org/agenda/2016/01/what-is-the-fourth-industrial-revolution', target="_blank")
												img.media-object.img-responsive(alt='', src='images/journal-thumb-mar-02.jpg', width='242', height='162')
											.media-body
												a(href='http://www.weforum.org/agenda/2016/01/what-is-the-fourth-industrial-revolution', target="_blank")
													h4.media-heading
														| “The Future Is Already Here – It's Just Not Very Evenly Distributed” – Novelist William Gibson
												p
													strong Source: weforum.org
													|  – We have entered the fourth technological revolution which is bringing forward new ways that technology will impact our lives and generating philosophical questions on how this will impact our economic, social and political systems.
										hr
										.media
											a.pull-left(href='http://www.linkedin.com/pulse/lead-emotional-intelligence-6-ways-doug-pederson-head-dudley/?trk=eml-email_feed_ecosystem_digest_01-recommended_articles-7-Unknown&midToken=AQFMIW1tu2eZag&fromEmail=fromEmail&ut=0IYfuM--AkbU81', target="_blank")
												img.media-object.img-responsive(alt='', src='images/journal-thumb-mar-03.jpg', width='242', height='162')
											.media-body
												a(href='http://www.linkedin.com/pulse/lead-emotional-intelligence-6-ways-doug-pederson-head-dudley/?trk=eml-email_feed_ecosystem_digest_01-recommended_articles-7-Unknown&midToken=AQFMIW1tu2eZag&fromEmail=fromEmail&ut=0IYfuM--AkbU81', target="_blank")
													h4.media-heading
														| One Man Can Make a Difference, But a Team Can Make a Miracle
												p
													strong Source: linkedin.com
													|  – Here is an article that discusses the relevance of emotional intelligence for leaders and how Doug Pederson, the head coach of the Philadelphia Eagles, employed his emotional intelligence to lead his team to with the Superbowl. It has ways that all of us can incorporate emotional intelligence to lead our teams to success.
										hr
										.media
											a.pull-left(href='http://www.inc.com/jeff-haden/want-to-be-a-great-leader-be-more-of-who-you-really-are-not-less.html?cid=hmside2', target="_blank")
												img.media-object.img-responsive(alt='', src='images/journal-thumb-mar-04.jpg', width='242', height='162')
											.media-body
												a(href='http://www.inc.com/jeff-haden/want-to-be-a-great-leader-be-more-of-who-you-really-are-not-less.html?cid=hmside2', target="_blank")
													h4.media-heading
														| Want To Be a Better Leader?
												p
													strong Source: inc.com
													|  – The theory is easy, but the practice is hard. Just be a better version of yourself.
										hr
										.media
											a.pull-left(href='http://hbr.org/2018/01/why-we-should-be-disagreeing-more-at-work', target="_blank")
												img.media-object.img-responsive(alt='', src='images/journal-thumb-mar-05.jpg', width='242', height='162')
											.media-body
												a(href='http://hbr.org/2018/01/why-we-should-be-disagreeing-more-at-work', target="_blank")
													h4.media-heading
														| Clashing With a Colleague – Good, This May Be Just What You Need
												p
													strong Source: hbr.org
													|  – Agreeing is always easier in the short run. While conflict may be uncomfortable, it can be a source of innovation and help to mitigate risks. Here is an article from the Harvard Business Review on how we can use conflict as an opportunity to learn.
									#january.tab-pane.fade.in.hidden-absolute-xs
										.media
											a.pull-left(href='http://www.thriveglobal.com/stories/17881-5-things-worth-spending-your-money-on-from-a-self-proclaimed-cheapskate', target="_blank")
												img.media-object.img-responsive(alt='', src='images/journal-thumb-jan-01.jpg', width='242', height='162')
											.media-body
												a(href='http://www.thriveglobal.com/stories/17881-5-things-worth-spending-your-money-on-from-a-self-proclaimed-cheapskate', target="_blank")
													h4.media-heading
														| 5 Things That Are Worth Spending Money On
												p
													strong Source: thriveglobal.com
													|  – In an era when everyone is telling us to go back to a simple life and that our enjoyment does not come from things, here are some suggestions purchased that actually do make sense.
										hr
										.media
											a.pull-left(href='http://www.linkedin.com/pulse/uncomfortable-deeds-pay-off-forever-dr-travis-bradberry/', target="_blank")
												img.media-object.img-responsive(alt='', src='images/journal-thumb-jan-02.jpg', width='242', height='162')
											.media-body
												a(href='http://www.linkedin.com/pulse/uncomfortable-deeds-pay-off-forever-dr-travis-bradberry/', target="_blank")
													h4.media-heading
														| The Long-Term – 10 Uncomfortable Deeds That Will Pay Off Forever
												p
													strong Source: linkedin.com
													|  –  We all know there are some things that are either difficult or uncomfortable, but that we know are good for ourselves. T.S. Eliot was one of the first to suggest the benefits of stepping outside our comfort zone. Research now shows there is an optimal point of discomfort. As we put together our list of resolutions to improve our lives in 2018, here is a list of 10 actions that will have a long-term benefit.
										hr
										.media
											a.pull-left(href='http://www.businessinsider.sg/the-swedish-co-founder-of-bitcoin-com-has-sold-all-his-bitcoins/', target="_blank")
												img.media-object.img-responsive(alt='', src='images/journal-thumb-jan-03.jpg', width='242', height='162')
											.media-body
												a(href='http://www.businessinsider.sg/the-swedish-co-founder-of-bitcoin-com-has-sold-all-his-bitcoins/', target="_blank")
													h4.media-heading
														| Two Perspectives on Bitcoin
												p
													strong Source: businessinsider.com
													|  – It is tempting to get caught up in the fury of runaway profits and quick easy money. Here are an article and a video that provide a healthy dose of reality for those of us who are curious about this digital currency.
										hr
										.media
											a.pull-left(href='http://www.nytimes.com/interactive/2017/12/19/sunday-review/2017-year-in-pictures.html', target="_blank")
												img.media-object.img-responsive(alt='', src='images/journal-thumb-jan-04.jpg', width='242', height='162')
											.media-body
												a(href='http://www.nytimes.com/interactive/2017/12/19/sunday-review/2017-year-in-pictures.html', target="_blank")
													h4.media-heading
														| Just for Fun
												p
													strong Source: nytimes.com
													|  – Here is a review of some of the best pictures of 2017 from the New York Times.
										hr
										.media
											a.pull-left(href='http://hbr.org/2015/09/how-making-time-for-books-made-me-feel-less-busy?referral=03759&cm_vc=rr_item_page.bottom', target="_blank")
												img.media-object.img-responsive(alt='', src='images/journal-thumb-jan-05.jpg', width='242', height='162')
											.media-body
												a(href='http://hbr.org/2015/09/how-making-time-for-books-made-me-feel-less-busy?referral=03759&cm_vc=rr_item_page.bottom', target="_blank")
													h4.media-heading
														| How to Feel Less Busy
												p
													strong Source: hbr.org
													|  – We all have so many things that pull at our attention and we often feel that in order to be productive, we must be constantly busy. Our brains are hardwired to be drawn to new information, so many of us feel the impact of constant digital overload. Reading is a way to give our brain a rest, to feel less stressed and have more energy. So open a book and enjoy.
									#december.tab-pane.fade.in.hidden-absolute-xs
										.media
											a.pull-left(href='http://thereformedbroker.com/2017/11/27/it-just-got-real/', target="_blank")
												img.media-object.img-responsive(alt='', src='images/journal-thumb-dec-01.jpg', width='242', height='162')
											.media-body
												a(href='http://thereformedbroker.com/2017/11/27/it-just-got-real/', target="_blank")
													h4.media-heading
														| Bitcoin: The Making of a Mania
												p
													strong Source: Thereformedbroker.com
													|  – Here is a list of morning habits that some of the most successful people embrace. Maybe we can learn something.
										hr
										.media
											a.pull-left(href='http://www.bbc.co.uk/news/resources/idt-sh/The_disruptors_money_changing', target="_blank")
												img.media-object.img-responsive(alt='', src='images/journal-thumb-dec-02.jpg', width='242', height='162')
											.media-body
												a(href='http://www.bbc.co.uk/news/resources/idt-sh/The_disruptors_money_changing', target="_blank")
													h4.media-heading
														| The Disruptors on why we will no longer need to carry Cash
												p
													strong Source: bbc.co.uk
													|  –  Everything we know about money is changing. Will we end up smiling?
										hr
										.media
											a.pull-left(href='http://www.investopedia.com/articles/retirement/06/tips55to64.asp?utm_source=personalized&utm_campaign=dfp-note-retire&utm_term=11426332&utm_medium=email', target="_blank")
												img.media-object.img-responsive(alt='', src='images/journal-thumb-dec-03.jpg', width='242', height='162')
											.media-body
												a(href='http://www.investopedia.com/articles/retirement/06/tips55to64.asp?utm_source=personalized&utm_campaign=dfp-note-retire&utm_term=11426332&utm_medium=email', target="_blank")
													h4.media-heading
														| Top 3 Retirement Savings Tips for 55-to-64-Year-Olds
												p
													strong Source: Investopedia.com
													|  – Ensuring we are on track with our retirement planning is a pathway to peace of mind. Here are some ideas to consider.
										hr
										.media
											a.pull-left(href='http://www.thriveglobal.com/stories/15834-how-to-be-happy', target="_blank")
												img.media-object.img-responsive(alt='', src='images/journal-thumb-dec-04.jpg', width='242', height='162')
											.media-body
												a(href='http://www.thriveglobal.com/stories/15834-how-to-be-happy', target="_blank")
													h4.media-heading
														| Top 3 Retirement Savings Tips for 55-to-64-Year-Olds
												p
													strong Source: Thriveglobal.com
													|  – This time of year with all the stress of meeting expectations for the holidays and finishing up those projects before the end of the year, who does not want to find a little more enjoyment in their life?
										hr
										.media
											a.pull-left(href='http://www.linkedin.com/pulse/how-13-year-old-can-teach-you-rethink-failure-patrick-leddin-ph-d-/?trk=eml-email_feed_ecosystem_digest_01-recommended_articles-13-Unknown&midToken=AQGFyMNWExpdrA&fromEmail=fromEmail&ut=22WQpFE_-8n801', target="_blank")
												img.media-object.img-responsive(alt='', src='images/journal-thumb-dec-05.jpg', width='242', height='162')
											.media-body
												a(href='http://www.linkedin.com/pulse/how-13-year-old-can-teach-you-rethink-failure-patrick-leddin-ph-d-/?trk=eml-email_feed_ecosystem_digest_01-recommended_articles-13-Unknown&midToken=AQGFyMNWExpdrA&fromEmail=fromEmail&ut=22WQpFE_-8n801', target="_blank")
													h4.media-heading
														| This 13-Year-Old Girl Will Challenge You to Rethink Failure
												p
													strong Source: Linkedin.com
													|  – Get ready to be challenged. Lucy Westlake will make you rethink failure.
									#november.tab-pane.fade.in.hidden-absolute-xs
										.media
											a.pull-left(href='http://www.forbes.com/sites/christinecomaford/2017/10/15/the-secret-to-controlling-your-emotions-before-they-control-you', target="_blank")
												img.media-object.img-responsive(alt='', src='images/journal-thumb-nov-01.jpg', width='242', height='162')
											.media-body
												a(href='http://www.forbes.com/sites/christinecomaford/2017/10/15/the-secret-to-controlling-your-emotions-before-they-control-you', target="_blank")
													h4.media-heading
														| The Secret To Controlling Your Emotions – Before They Control You
												p
													strong Hamilton, Bermuda, (November 01, 2017)
													|  – Here is a list of morning habits that some of the most successful people embrace. Maybe we can learn something.
										hr
										.media
											a.pull-left(href='http://www.economist.com/blogs/economist-explains/2017/10/economist-explains-17', target="_blank")
												img.media-object.img-responsive(alt='', src='images/journal-thumb-nov-02.jpg', width='242', height='162')
											.media-body
												a(href='http://www.economist.com/blogs/economist-explains/2017/10/economist-explains-17', target="_blank")
													h4.media-heading
														| Why the Dutch will not be in the 2018 World Cup
												p
													strong Hamilton, Bermuda, (November 01, 2017)
													|  – We have entered the fourth technological revolution which is bringing forward new ways that technology will impact our lives and generating philosophical questions on how this will impact our economic, social and political systems.
										hr
										.media
											a.pull-left(href='http://www.wsj.com/articles/how-reese-witherspoon-is-changing-hollywood-for-women-1509548154', target="_blank")
												img.media-object.img-responsive(alt='', src='images/journal-thumb-nov-03.jpg', width='242', height='162')
											.media-body
												a(href='http://www.wsj.com/articles/how-reese-witherspoon-is-changing-hollywood-for-women-1509548154', target="_blank")
													h4.media-heading
														| The Entertainment Innovator: Reese Witherspoon
												p
													strong Hamilton, Bermuda, (November 01, 2017)
													|  – Here is an article that discusses the relevance of emotional intelligence for leaders and how Doug Pederson, the head coach of the Philadelphia Eagles, employed his emotional intelligence to lead his team to with the Superbowl. It has ways that all of us can incorporate emotional intelligence to lead our teams to success.
										hr
										.media
											a.pull-left(href='http://www.economist.com/blogs/economist-explains/2017/10/economist-explains-22', target="_blank")
												img.media-object.img-responsive(alt='', src='images/journal-thumb-nov-04.jpg', width='242', height='162')
											.media-body
												a(href='http://www.economist.com/blogs/economist-explains/2017/10/economist-explains-22', target="_blank")
													h4.media-heading
														| Did you enjoy the extra hour of sleep last weekend? Finland wants to do away with Daylight Savings Time
												p
													strong Hamilton, Bermuda, (November 01, 2017)
													|  – Here is an article that discusses the relevance of emotional intelligence for leaders and how Doug Pederson, the head coach of the Philadelphia Eagles, employed his emotional intelligence to lead his team to with the Superbowl. It has ways that all of us can incorporate emotional intelligence to lead our teams to success.
										hr
										.media
											a.pull-left(href='http://www.inc.com/video/adam-garone/cofounder-movember-kept-list-people-who-laughed-to-prove-them-wrong.html', target="_blank")
												img.media-object.img-responsive(alt='', src='images/journal-thumb-nov-05.jpg', width='242', height='162')
											.media-body
												a(href='http://www.inc.com/video/adam-garone/cofounder-movember-kept-list-people-who-laughed-to-prove-them-wrong.html', target="_blank")
													h4.media-heading
														| Movember – Raising Money for Charity
												p
													strong Hamilton, Bermuda, (November 01, 2017)
													|  – Here is an article that discusses the relevance of emotional intelligence for leaders and how Doug Pederson, the head coach of the Philadelphia Eagles, employed his emotional intelligence to lead his team to with the Superbowl. It has ways that all of us can incorporate emotional intelligence to lead our teams to success.