.umb-grid
	.grid-section
		.site--banner.site--banner-compact(data-js="site-banner", role="banner")
			.container
				.row
					.col-sm-12
						.site--banner-wrap
							img.site--banner-img.hidden(src="images/awm-thejournal-banner-bg.jpg", alt="The Journal", role="img")
							h1.site--banner-heading(role="heading")
								| The Journal
							p.site--banner-content Find out how we are making a difference in our community and in our company.
		.site--content
			.container
				.row
					.col-sm-12
						.site--content-journals
							.a-g-tabs
								.responsive-tabs-container.accordion-xs
									ul.nav.nav-tabs.responsive-tabs
										li.active
											a(data-toggle='tab', href='#march') March
										li
											a(data-toggle='tab', href='#february') February
										li
											a(data-toggle='tab', href='#january') January
										li
											a(data-toggle='tab', href='#december') December
									.tab-content
										#march.tab-pane.fade.in.active.hidden-absolute-xs
											.media
												a.pull-left(href='#')
													img.media-object.img-responsive(alt='', src='https://placebear.com/534/355', width='242', height='162')
												.media-body
													a(href='#')
														h4.media-heading
															| How Do You Wake Up In The Morning?
													p
														strong Hamilton, Bermuda, (March 01, 2018)
														|  – Here is a list of morning habits that some of the most successful people embrace. Maybe we can learn something.
													p
														| Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus, molestiae suscipit. Repellat voluptates odio minima illo nisi. Unde, beatae amet nulla ab ipsa voluptatibus assumenda ipsum recusandae saepe a ratione.
											hr
											.media
												a.pull-left(href='#')
													img.media-object.img-responsive(alt='', src='https://placebear.com/534/355', width='242', height='162')
												.media-body
													a(href='#')
														h4.media-heading
															| “The Future Is Already Here – It's Just Not Very Evenly Distributed” – Novelist William Gibson
													p
														strong Hamilton, Bermuda, (March 01, 2018)
														|  – We have entered the fourth technological revolution which is bringing forward new ways that technology will impact our lives and generating philosophical questions on how this will impact our economic, social and political systems.
													p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus, molestiae suscipit. Repellat voluptates odio minima illo nisi. Unde, beatae amet nulla ab ipsa voluptatibus assumenda ipsum recusandae saepe a ratione.
											hr
											.media
												a.pull-left(href='#')
													img.media-object.img-responsive(alt='', src='https://placebear.com/534/355', width='242', height='162')
												.media-body
													a(href='#')
														h4.media-heading
															| One Man Can Make a Difference, But a Team Can Make a Miracle
													p
														strong Hamilton, Bermuda, (March 01, 2018)
														|  – Here is an article that discusses the relevance of emotional intelligence for leaders and how Doug Pederson, the head coach of the Philadelphia Eagles, employed his emotional intelligence to lead his team to with the Superbowl. It has ways that all of us can incorporate emotional intelligence to lead our teams to success.
													p
														| Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus, molestiae suscipit. Repellat voluptates odio minima illo nisi. Unde, beatae amet nulla ab ipsa voluptatibus assumenda ipsum recusandae saepe a ratione.
										#february.tab-pane.fade.in.hidden-absolute-xs
											.media
												a.pull-left(href='#')
													img.media-object.img-responsive(alt='', src='https://placebear.com/534/356', width='242', height='162')
												.media-body
													a(href='#')
														h4.media-heading
															| How Do You Wake Up In The Morning?
													p
														strong Hamilton, Bermuda, (February 01, 2017)
														|  – Here is a list of morning habits that some of the most successful people embrace. Maybe we can learn something.
													p
														| Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus, molestiae suscipit. Repellat voluptates odio minima illo nisi. Unde, beatae amet nulla ab ipsa voluptatibus assumenda ipsum recusandae saepe a ratione.
											hr
											.media
												a.pull-left(href='#')
													img.media-object.img-responsive(alt='', src='https://placebear.com/534/356', width='242', height='162')
												.media-body
													a(href='#')
														h4.media-heading
															| “The Future Is Already Here – It's Just Not Very Evenly Distributed” – Novelist William Gibson
													p
														strong Hamilton, Bermuda, (February 01, 2017)
														|  – We have entered the fourth technological revolution which is bringing forward new ways that technology will impact our lives and generating philosophical questions on how this will impact our economic, social and political systems.
													p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus, molestiae suscipit. Repellat voluptates odio minima illo nisi. Unde, beatae amet nulla ab ipsa voluptatibus assumenda ipsum recusandae saepe a ratione.
											hr
											.media
												a.pull-left(href='#')
													img.media-object.img-responsive(alt='', src='https://placebear.com/534/356', width='242', height='162')
												.media-body
													a(href='#')
														h4.media-heading
															| One Man Can Make a Difference, But a Team Can Make a Miracle
													p
														strong Hamilton, Bermuda, (February 01, 2017)
														|  – Here is an article that discusses the relevance of emotional intelligence for leaders and how Doug Pederson, the head coach of the Philadelphia Eagles, employed his emotional intelligence to lead his team to with the Superbowl. It has ways that all of us can incorporate emotional intelligence to lead our teams to success.
													p
														| Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus, molestiae suscipit. Repellat voluptates odio minima illo nisi. Unde, beatae amet nulla ab ipsa voluptatibus assumenda ipsum recusandae saepe a ratione.
										#january.tab-pane.fade.in.hidden-absolute-xs
											.media
												a.pull-left(href='#')
													img.media-object.img-responsive(alt='', src='https://placebear.com/534/357', width='242', height='162')
												.media-body
													a(href='#')
														h4.media-heading
															| How Do You Wake Up In The Morning?
													p
														strong Hamilton, Bermuda, (January 01, 2016)
														|  – Here is a list of morning habits that some of the most successful people embrace. Maybe we can learn something.
													p
														| Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus, molestiae suscipit. Repellat voluptates odio minima illo nisi. Unde, beatae amet nulla ab ipsa voluptatibus assumenda ipsum recusandae saepe a ratione.
											hr
											.media
												a.pull-left(href='#')
													img.media-object.img-responsive(alt='', src='https://placebear.com/534/357', width='242', height='162')
												.media-body
													a(href='#')
														h4.media-heading
															| “The Future Is Already Here – It's Just Not Very Evenly Distributed” – Novelist William Gibson
													p
														strong Hamilton, Bermuda, (January 01, 2016)
														|  – We have entered the fourth technological revolution which is bringing forward new ways that technology will impact our lives and generating philosophical questions on how this will impact our economic, social and political systems.
													p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus, molestiae suscipit. Repellat voluptates odio minima illo nisi. Unde, beatae amet nulla ab ipsa voluptatibus assumenda ipsum recusandae saepe a ratione.
											hr
											.media
												a.pull-left(href='#')
													img.media-object.img-responsive(alt='', src='https://placebear.com/534/357', width='242', height='162')
												.media-body
													a(href='#')
														h4.media-heading
															| One Man Can Make a Difference, But a Team Can Make a Miracle
													p
														strong Hamilton, Bermuda, (January 01, 2016)
														|  – Here is an article that discusses the relevance of emotional intelligence for leaders and how Doug Pederson, the head coach of the Philadelphia Eagles, employed his emotional intelligence to lead his team to with the Superbowl. It has ways that all of us can incorporate emotional intelligence to lead our teams to success.
													p
														| Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus, molestiae suscipit. Repellat voluptates odio minima illo nisi. Unde, beatae amet nulla ab ipsa voluptatibus assumenda ipsum recusandae saepe a ratione.
										#december.tab-pane.fade.in.hidden-absolute-xs
											.media
												a.pull-left(href='#')
													img.media-object.img-responsive(alt='', src='https://placebear.com/534/358', width='242', height='162')
												.media-body
													a(href='#')
														h4.media-heading
															| How Do You Wake Up In The Morning?
													p
														strong Hamilton, Bermuda, (February 01, 2015)
														|  – Here is a list of morning habits that some of the most successful people embrace. Maybe we can learn something.
													p
														| Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus, molestiae suscipit. Repellat voluptates odio minima illo nisi. Unde, beatae amet nulla ab ipsa voluptatibus assumenda ipsum recusandae saepe a ratione.
											hr
											.media
												a.pull-left(href='#')
													img.media-object.img-responsive(alt='', src='https://placebear.com/534/358', width='242', height='162')
												.media-body
													a(href='#')
														h4.media-heading
															| “The Future Is Already Here – It's Just Not Very Evenly Distributed” – Novelist William Gibson
													p
														strong Hamilton, Bermuda, (February 01, 2015)
														|  – We have entered the fourth technological revolution which is bringing forward new ways that technology will impact our lives and generating philosophical questions on how this will impact our economic, social and political systems.
													p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus, molestiae suscipit. Repellat voluptates odio minima illo nisi. Unde, beatae amet nulla ab ipsa voluptatibus assumenda ipsum recusandae saepe a ratione.
											hr
											.media
												a.pull-left(href='#')
													img.media-object.img-responsive(alt='', src='https://placebear.com/534/358', width='242', height='162')
												.media-body
													a(href='#')
														h4.media-heading
															| One Man Can Make a Difference, But a Team Can Make a Miracle
													p
														strong Hamilton, Bermuda, (February 01, 2015)
														|  – Here is an article that discusses the relevance of emotional intelligence for leaders and how Doug Pederson, the head coach of the Philadelphia Eagles, employed his emotional intelligence to lead his team to with the Superbowl. It has ways that all of us can incorporate emotional intelligence to lead our teams to success.
													p
														| Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus, molestiae suscipit. Repellat voluptates odio minima illo nisi. Unde, beatae amet nulla ab ipsa voluptatibus assumenda ipsum recusandae saepe a ratione.