@charset "UTF-8";

// Argus Fonts
@font-face {
  font-family: 'Encode Sans';
  src: url(../fonts/EncodeSans-Regular.eot);
  src: url(../fonts/EncodeSans-Regular.eot?#iefix) format('embedded-opentype'), url(../fonts/EncodeSans-Regular.woff2) format('woff2'), url(../fonts/EncodeSans-Regular.woff) format('woff'), url(../fonts/EncodeSans-Regular.ttf) format('truetype'), url(../fonts/EncodeSans-Regular.svg#EncodeSans-Regular) format('svg');
  font-weight: normal;
  font-style: normal
}
@font-face {
  font-family: 'Encode Sans';
  src: url(../fonts/EncodeSans-SemiBold.eot);
  src: url(../fonts/EncodeSans-SemiBold.eot?#iefix) format('embedded-opentype'), url(../fonts/EncodeSans-SemiBold.woff2) format('woff2'), url(../fonts/EncodeSans-SemiBold.woff) format('woff'), url(../fonts/EncodeSans-SemiBold.ttf) format('truetype'), url(../fonts/EncodeSans-SemiBold.svg#EncodeSans-SemiBold) format('svg');
  font-weight: 600;
  font-style: normal
}
@font-face {
  font-family: 'Encode Sans Narrow';
  src: url(../fonts/EncodeSansNarrow-SemiBold.eot);
  src: url(../fonts/EncodeSansNarrow-SemiBold.eot?#iefix) format('embedded-opentype'), url(../fonts/EncodeSansNarrow-SemiBold.woff2) format('woff2'), url(../fonts/EncodeSansNarrow-SemiBold.woff) format('woff'), url(../fonts/EncodeSansNarrow-SemiBold.ttf) format('truetype'), url(../fonts/EncodeSansNarrow-SemiBold.svg#EncodeSansNarrow-SemiBold) format('svg');
  font-weight: 600;
  font-style: normal
}
@font-face {
  font-family: 'Interstate';
  src: url(../fonts/Interstate-Bold.eot);
  src: url(../fonts/Interstate-Bold.eot?#iefix) format('embedded-opentype'), url(../fonts/Interstate-Bold.woff2) format('woff2'), url(../fonts/Interstate-Bold.woff) format('woff'), url(../fonts/Interstate-Bold.ttf) format('truetype'), url(../fonts/Interstate-Bold.svg#Interstate-Bold) format('svg');
  font-weight: bold;
  font-style: normal
}
@font-face {
  font-family: 'Interstate';
  src: url(../fonts/Interstate-Regular.eot);
  src: url(../fonts/Interstate-Regular.eot?#iefix) format('embedded-opentype'), url(../fonts/Interstate-Regular.woff2) format('woff2'), url(../fonts/Interstate-Regular.woff) format('woff'), url(../fonts/Interstate-Regular.ttf) format('truetype'), url(../fonts/Interstate-Regular.svg#Interstate-Regular) format('svg');
  font-weight: normal;
  font-style: normal
}
@font-face {
  font-family: 'Interstate';
  src: url(../fonts/Interstate-Light.eot);
  src: url(../fonts/Interstate-Light.eot?#iefix) format('embedded-opentype'), url(../fonts/Interstate-Light.woff2) format('woff2'), url(../fonts/Interstate-Light.woff) format('woff'), url(../fonts/Interstate-Light.ttf) format('truetype'), url(../fonts/Interstate-Light.svg#Interstate-Light) format('svg');
  font-weight: 300;
  font-style: normal
}
@font-face {
  font-family: 'Interstate';
  src: url(../fonts/Interstate-ExtraLight.eot);
  src: url(../fonts/Interstate-ExtraLight.eot?#iefix) format('embedded-opentype'), url(../fonts/Interstate-ExtraLight.woff2) format('woff2'), url(../fonts/Interstate-ExtraLight.woff) format('woff'), url(../fonts/Interstate-ExtraLight.ttf) format('truetype'), url(../fonts/Interstate-ExtraLight.svg#Interstate-ExtraLight) format('svg');
  font-weight: 200;
  font-style: normal
}
@font-face {
  font-family: 'Minion Pro';
  src: url(../fonts/MinionPro-Regular.eot);
  src: url(../fonts/MinionPro-Regular.eot?#iefix) format('embedded-opentype'), url(../fonts/MinionPro-Regular.woff2) format('woff2'), url(../fonts/MinionPro-Regular.woff) format('woff'), url(../fonts/MinionPro-Regular.ttf) format('truetype'), url(../fonts/MinionPro-Regular.svg#MinionPro-Regular) format('svg');
  font-weight: normal;
  font-style: normal
}

// Bootstrap Glyphs
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(../fonts/glyphicons-halflings-regular.eot);
  src: url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'), url(../fonts/glyphicons-halflings-regular.woff2) format('woff2'), url(../fonts/glyphicons-halflings-regular.woff) format('woff'), url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'), url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')
}

// Font Awesome
@import "../../node_modules/font-awesome/scss/font-awesome.scss";


// AWM Site Branding Overrides

// COLORS
$white: #fff;
$silver-AA: #5d6770;
$silver-AB: #e9e7e7;
$silver-AC: #5d6770;
$silver-AD: #3d4144;
$silver-AE: #dadada;
$blue-AA: #2c3950;
$blue-AB: #d6f9ff;
$blue-AC: #0079c1;
$blue-AD: #293852;
$blue-AE: #1f71ac;
$blue-AF: #d2e3ee;
$red-AA: #ff5959;

// --- GENERAL STYLES
.awm-background,
footer {
  background-color: $blue-AA;
}
.topbar-menu,
.header-v8 .mega-menu .nav {
  justify-content: flex-end;
}
#footer .ag-footer-links {
  margin-top: 80px;
  margin-bottom: 30px;
}
.hero-with-breadcrumb,
.hero-with-breadcrumb-container {
  padding-bottom: 0;
  margin-bottom: 0;
}

// CARDS
.card--chart {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: $silver-AE;
  &-heading {
    text-transform: uppercase;
  }
}
.card--team {
  padding-top: 90px;
  padding-bottom: 90px;
  // background-color: $silver-AE;
  background: $silver-AE no-repeat url("../images/awm-team-bg.png");
  background-position: bottom right;
  &-title {
    color: $blue-AD;
    font-size: 36px;
    line-height: normal;
    text-transform: uppercase;
  }
  &-caption {
    color: $blue-AD;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 50px;
  }
  &-box {
    &-heading {
      color: $silver-AA;
      font-size: 20px;
      line-height: normal;
    }
    &-content {
      color: $silver-AA;
      font-size: 16px;
      line-height: normal;
    }
    &-link {
      font-size: 16px;
      line-height: normal;
      text-transform: uppercase;
      &:link {
        color: $blue-AE;
      }
    }
  }
  &-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  &-wrap {
    footer {
      background: $white;
    }
  }
}
.card--portfolio {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: $silver-AC;
  &-caption {
    color: $blue-AD;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 50px;
  }
  &-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  &-wrap {
    background: $white;
  }
  &-heading {
    color: $silver-AA;
    font-size: 20px;
  }
  &-content {
    color: $silver-AA;
    font-size: 16px;
  }
  &-blurb {
    color: $blue-AD;
    font-weight: 300;
    font-size: 24px;
  }
}
.card--features {
  padding-top: 90px;
  padding-bottom: 90px;
  background: transparent no-repeat url("../images/awm-team-bg.png");
  background-position: bottom right;
  &-caption {
    color: $blue-AD;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 50px;
  }
  &-box {
    &-heading {
      color: $silver-AA;
      font-size: 20px;
    }
    &-content {
      color: $silver-AA;
      font-size: 16px;
    }
    &-link {
      font-size: 16px;
      text-transform: uppercase;
      &:link {
        color: $blue-AE;
      }
    }
  }
  &-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  &-wrap {
    footer {
      background: $white;
    }
  }
  &.card--features-primary-bg {
    background-color: $silver-AE;
  }
  &.card--features-secondary-bg {
    background-color: $blue-AF;
  }
}
.card--summary {
  padding-top: 110px;
  padding-bottom: 110px;
  &--heading {
    color: $blue-AD;
    font-size: 36px;
    text-transform: uppercase;
  }
  &--content {
    color: $silver-AD;
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 20px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
.card--testimonial {
  position: relative;
  padding-top: 90px;
  padding-bottom: 90px;
  // background: $blue-AB;
  background: $white no-repeat url("../images/awm-testimonial-bg.png");
  @media screen and (min-width: 1200px) {
    background-size: contain;
    background-position: left center;
  }
  @media screen and (min-width: 960px) and (max-width: 1200px) {
    background-size: cover;
    background-position: -200px center;
  }
  @media screen and (min-width: 768px) and (max-width: 960px) {
    background-size: cover;
    background-position: -300px center;
  }
  @media screen and (min-width: 480px) and (max-width: 768px) {
    background-size: cover;
    background-position: -150px center;
  }
  @media screen and (max-width: 480px) {
    background-size: cover;
    background-position: -400px center;
  }
  @media screen and (max-width: 960px) {
    &::before {
      position: absolute;
      content: '';
      z-index: 0;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      display: block;
      background-color: rgba(255, 89, 89, 0.2);
    }
  }
  blockquote {
    padding: 0;
    margin: 0 0 15px;
    border: none;
    color: $blue-AC;
    font-size: 24px;
    font-style: italic;
    font-weight: normal;
    line-height: 1.25;
    letter-spacing: 1px;
  }
  cite {
    color: $silver-AA;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
  }
}
.card--callout {
  color: $silver-AA;
  background: $silver-AB;
  padding-top: 100px;
  padding-bottom: 100px;
  @media screen and (min-width: 768px) and (max-width: 960px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (max-width: 768px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  p {
    font-size: 24px;
    color: $silver-AC;
    margin: 0 auto 30px;
    max-width: 480px;
    @media screen and (min-width: 768px) and (max-width: 960px) {
      font-size: 20px;
    }
    @media screen and (max-width: 768px) {
      font-size: 18px;
    }
  }
  a {
    font-weight: bold;
    font-size: 16px;
  }
  &-primary {
    background: $silver-AB;
  }
  &-secondary {
    background: $white;
  }
  &-tertiary {
    background: $white;
    p {
      font-size: 18px;
    }
  }
}
