include ../_includes/blocks/login-top-menu
div
	#site-wrapper.ag.ag-site-wrapper
		#site-canvas.ag-site-canvas
			include ../_includes/blocks/login-main-menu
			.ag-content-wrapper
				include ../_includes/blocks/login-nav-menu
				include ../_includes/content/client-login
include ../_includes/blocks/login-footer